/**
 * Layout
 **/

// HTML base
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: $font-style $font-variant $font-weight #{$font-size}/#{$line-height} $font-family;
  font-size: $font-size;
}

// Body base
body {
  color: $font-color;
  font-size: $body-font-size;
  min-height: 100vh;
}

nav {
  background: $alternate-background;
  height: 84px;
}

main {
  background: $background;
}

section {
  padding: 4%;
}

p,
ol,
ul,
dl,
table {
  margin: 0 0 $margins 0;
}

.card {
  background: $alternate-background;
}
