/**
 * Layout
 **/

// HTML base
* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: $font-style $font-variant $font-weight #{$body-size}/#{$body-line-height} $font-family;
  font-size: $body-size;
  scroll-behavior: smooth;
}

// Body base
body {
  margin: 0;
  color: $font-color;
  font-size: $body-size;
  min-height: 100vh;
}

nav {
  background: $alternate-background;
  height: 84px;
}

main {
  background: $background;
}

section {
  padding: 4%;
}

p,
ol,
ul,
dl,
table {
  margin: 0 0 $margins 0;
}

ol,
ul {
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

p,
ol,
ul {
  font-size: $body-size;
  line-height: $body-line-height;

  @media #{$mq-desktop} {
    font-size: $body-large-size;
    line-height: $body-large-line-height;
  }

  @media #{$mq-xldesktop} {
    font-size: 24px;
    line-height: 34px;
  }

  @media #{$mq-xxldesktop} {
    font-size: 26px;
    line-height: 38px;
  }
}

li {
  margin-left: -7px;
  padding-left: 7px;
  margin-bottom: 14px;

  @media #{$mq-desktop} {
    margin-left: -14px;
    padding-left: 14px;
    margin-bottom: 20px;
  }
}

strong,
b {
  font-family: $font-family-bold;
  font-weight: 700;
}

.large {
  font-size: $body-large-size;
  line-height: $body-large-line-height;

  @media #{$mq-mobile} {
    font-size: 24px;
    line-height: 34px;
  }

  @media #{$mq-tablet} {
    font-size: 24px;
    line-height: 34px;
  }

  @media #{$mq-desktop} {
    font-size: 26px;
    line-height: 38px;
  }

  @media #{$mq-xldesktop} {
    font-size: 28px;
    line-height: 40px;
  }

  @media #{$mq-xxldesktop} {
    font-size: 30px;
    line-height: 48px;
  }
}

.medium {
  font-size: 18px;
  line-height: 28px;

  @media #{$mq-mobile} {
    font-size: 20px;
    line-height: 30px;
  }

  @media #{$mq-tablet} {
    font-size: 22px;
    line-height: 34px;
  }

  @media #{$mq-desktop} {
    font-size: 24px;
    line-height: 36px;
  }

  @media #{$mq-xldesktop} {
    font-size: 26px;
    line-height: 40px;
  }

  @media #{$mq-xxldesktop} {
    font-size: 28px;
    line-height: 42px;
  }
}

.small {
  font-size: 15px;
  line-height: 24px;

  @media #{$mq-mobile} {
    font-size: $body-small-size;
    line-height: $body-small-line-height;
  }

  @media #{$mq-desktop} {
    font-size: $body-size;
    line-height: $body-line-height;
  }

  @media #{$mq-xldesktop} {
    font-size: 20px;
    line-height: 30px;
  }
}

// Style Guide

section.type {
  max-width: 1400px;
  .s1, .s2, .s4, .s5, .s6, .large, .no-button, .small {
    margin: 60px 0;
  }
  a.button-primary {
    margin-right: 56px;
  }
}

// Headings

.s1,
.s2,
.s6 {
  margin: 4vw 0 0 0;
  font-weight: $heading-font-weight;
  font-family: $heading-font-family;
  color: $font-color;

  @media #{$mq-xldesktop} {
    margin: 2vw 0 0 0;
  }
}

.s4,
.s5 {
  margin: 4vw 0 0 0;
  font-weight: $font-weight;
  font-family: $font-family;
  color: $font-color;

  @media #{$mq-xldesktop} {
    margin: 2vw 0 0 0;
  }
}

.s1 {
  font-size: 60px;
  line-height: 64px;
}

.s2 {
  font-size: 36px;
  line-height: 38px;
}

.s4 {
  font-family: $font-family-bold;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
}

.s5 {
  font-family: $font-family-bold;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.s6 {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 14px;
}

@media #{$mq-mobile} {
  .s1 {
    font-size: 64px;
    line-height: 68px;
  }

  .s2 {
    font-size: 44px;
    line-height: 48px;
  }

  .s4 {
    font-size: 32px;
    line-height: 38px;
  }

  .s5 {
    font-size: 28px;
    line-height: 34px;
  }

  .s6 {
    font-size: 24px;
    line-height: 30px;
  }
}

@media #{$mq-tablet} {
  .s1 {
    font-size: 80px;
    line-height: 86px;
  }

  .s2 {
    font-size: 54px;
    line-height: 58px;
  }

  .s4 {
    font-size: 36px;
    line-height: 44px;
  }

  .s5 {
    font-size: 30px;
    line-height: 40px;
  }

  .s6 {
    font-size: 28px;
    line-height: 32px;
  }
}

@media #{$mq-desktop} {
  .s1 {
    font-size: 88px;
    line-height: 94px;
  }

  .s2 {
    font-size: 80px;
    line-height: 86px;
  }

  .s4 {
    font-size: 40px;
    line-height: 48px;
  }

  .s5 {
    font-size: 34px;
    line-height: 42px;
  }

  .s6 {
    font-size: 30px;
    line-height: 34px;
  }
}

@media #{$mq-lgdesktop} {
  .s1 {
    font-size: 104px;
    line-height: 104px;
  }

  .s2 {
    font-size: 88px;
    line-height: 94px;
  }

  .s4 {
    font-size: 46px;
    line-height: 54px;
  }

  .s5 {
    font-size: 36px;
    line-height: 44px;
  }

  .s6 {
    font-size: 32px;
    line-height: 36px;
  }
}

@media #{$mq-xldesktop} {
  .s1 {
    font-size: 116px;
    line-height: 122px;
  }

  .s2 {
    font-size: 94px;
    line-height: 100px;
  }

  .s4 {
    font-size: 50px;
    line-height: 60px;
  }

  .s5 {
    font-size: 40px;
    line-height: 48px;
  }

  .s6 {
    font-size: 34px;
    line-height: 36px;
    margin-bottom: 28px;
  }
}

@media #{$mq-xxldesktop} {
  .s1 {
    font-size: 140px;
    line-height: 140px;
  }
  .s2 {
    font-size: 98px;
    line-height: 104px;
  }

  .s4 {
    font-size: 54px;
    line-height: 64px;
  }

  .s5 {
    font-size: 44px;
    line-height: 52px;
  }

  .s6 {
    font-size: 38px;
    line-height: 40px;
  }
}

// Link styling
a {
  color: $link-color;
  text-decoration: none;
  border-bottom: 1px solid $primary-color;

  &:hover,
  &:active,
  &:focus {
    color: $link-hover-color;
    text-decoration: none;
    border-bottom: 1px solid $secondary-color;
    cursor: pointer;
  }
}

a.button-primary, a.button-secondary {
  display: inline-block;
  color: white;
  font-family: $font-family-bold;
  background-color: $primary-color;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 22px 8px;
  border-radius: 30px;
  border: 3px solid $primary-color;

  &:hover,
  &:active,
  &:focus {
    background-color: $secondary-color;
    cursor: pointer;
    border: 3px solid $secondary-color;
  }

  @media #{$mq-xldesktop} {
    font-size: 20px;
    letter-spacing: 3px;
    padding: 14px 26px 12px;
  }

  @media #{$mq-xxldesktop} {
    font-size: 22px;
    letter-spacing: 3px;
    padding: 18px 30px 16px;
  }
}

a.button-secondary {
  color: $primary-color;
  background-color: white;
  border: 3px solid $primary-color;

  &:hover,
  &:active,
  &:focus {
    background-color: white;
    border: 3px solid $secondary-color;
    color: $secondary-color;
  }
}

a.button-tertiary {
  border-bottom: 0;
  text-transform: uppercase;
  font-family: $font-family-bold;
  letter-spacing: 2px;

  &:hover,
  &:active,
  &:focus {
    border-bottom: 0;
    cursor: pointer;
  }

  @media #{$mq-xldesktop} {
    font-size: 20px;
    letter-spacing: 3px;
  }

  @media #{$mq-xxldesktop} {
    font-size: 22px;
    letter-spacing: 3px;
  }
}

button.no-button {
  appearance: none;
  background: transparent;
  border: none;
  text-align: left;

  &:focus {
    outline: none;
    cursor: pointer;
  }
}

// Nav styling

nav {
  background-color: $alternate-background;
  min-height: 90px;
  display: flex;
  justify-content: space-between;
  padding: 28px 4%;
  a {
    border-bottom: 0;
    &:hover,
    &:focus {
      border-bottom: 0;
    }
  }
  p {
    font-family: $heading-font-family;
    font-size: 24px;
    line-height: 26px;
    margin-top: 3px;

    @media #{$mq-tablet} {
      font-size: 26px;
      line-height: 28px;
      margin-top: 1px;
    }

    @media #{$mq-desktop} {
      font-size: 30px;
      line-height: 32px;
      margin-top: 0;
    }
  }
  ion-icon {
    font-size: 32px;
  }
}

main {
  background-color: $background;
}


// Card styling

.card-container {
  display: flex;
}

.card-wrapper {
  display: inline-flex;
}

.card {
  box-sizing: border-box;
  background: $alternate-background;
  border-bottom: 0;
  height: 100%;
  @include flex-column;
  .card-details {
    min-height: 66px;
    @include flex-column;
    justify-content: space-between;
    flex-grow: 2;
    margin: 14px 20px;

    @media #{$mq-desktop} {
      min-height: 100px;
      margin: 14px 28px;
    }
  }
  .s5, p {
    display: block;
    margin: 0;
  }
  .s5 {
    @media #{$mq-tablet} {
      font-size: 28px;
      line-height: 34px;
    }

    @media #{$mq-desktop} {
      font-size: 30px;
      line-height: 40px;
    }

    @media #{$mq-lgdesktop} {
      font-size: 32px;
      line-height: 40px;
    }

    @media #{$mq-xldesktop} {
      font-size: 34px;
      line-height: 42px;
    }

    @media #{$mq-xxldesktop} {
      font-size: 38px;
      line-height: 46px;;
    }
  }
  &:hover,
  &:active,
  &:focus {
    transition: all .15s ease;
    border: 3px solid $secondary-color;
    color: $primary-color;
    cursor: pointer;
  }
}

.card-experience {
  position: relative;
  figcaption {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($secondary-color, 0.7);
    width: 100%;
    height: 100%;
    color: white;
    padding: 28px;
  }

  p, time {
    font-size: 15px;
    line-height: 24px;

    @media #{$mq-mobile} {
      font-size: $body-small-size;
      line-height: $body-small-line-height;
    }

    @media #{$mq-desktop} {
      font-size: $body-size;
      line-height: $body-line-height;
    }

    @media #{$mq-xldesktop} {
      font-size: 20px;
      line-height: 30px;
    }
  }

  time {
    font-weight: 700;
    display: block;
    margin-bottom: 14px;
  }
  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
    figcaption {
      display: block;
    }
  }
}

// All containers

section.all {
  padding: 4%;
  padding-bottom: 0;

  .card-container {
    display: grid;
    grid-column-gap: 3%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding-bottom: 140px;
  }

  .card-wrapper {
    margin-bottom: 12%;
  }

  .card, .card-experience {
    width: 100%;
  }
}


// Divider line
hr {
  background-color: $accent-color;
  color: $accent-color;
  width: 60px;
  height: 4px;
  border-style: solid;
  border-radius: 4px;
  margin: 56px auto;

  @media #{$mq-desktop} {
    width: 90px;
  }
}

// Links
.links {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 0 1 auto;
  margin-top: 24px;
  a {
    margin-bottom: 24px;
  }
  @media #{$mq-mobile} {
    flex-direction: row;
  }
}

// Footer
footer {
  padding: 4%;
  padding-bottom: 0;
  ion-icon {
    font-size: 28px;
    margin-bottom: -6px;
  }
  .left {
    @include flex-column;
  }
  .right {
    margin-top: 28px;
  }

  @media #{$mq-mobile} {
    .right {
      margin-top: 0;
    }
  }

  @media #{$mq-tablet} {
    .left {
      flex-direction: row;
      flex-grow: 4;
      a {
        margin-right: 56px;
      }
    }
    a {
      display: inline-block;
    }
  }

  .bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
  }
}