section.hero, section.project-details {
    background-color: $background;
}

section.hero {
    h1 {
        z-index: 10;
    }
    img {
        margin-top: -27px;
        z-index: 0;
    }
}

.work {
    background-color: $background;
}

.work section {
    max-width: 1440px;
    margin: 0 auto;
    @include grid-12;
    h2,
    h6, 
    p,
    ol,
    hr {
        grid-column: 3 / span 8;
    }

    &.hero {
        p, img {
            grid-column: span 12;
        }
        h1 {
            grid-column: 2 / span 10;
        }
    }

    &.project-details {
        .problem {
            grid-column: 2 / span 5;
        }
        .result {
            grid-column: 7 / span 5;
        }
        .role {
            grid-column: 2 / span 10;
        }
    }

    &.summary {
        p {
            grid-column: 3 / span 8;
        }
    }

    .img-2up {
        grid-column: span 12;
        @include grid-12;
        figure {
            grid-column: span 6;
        }
    }

    .img-1up {
        grid-column: span 12;
        @include grid-12;
        img {
            grid-column: span 12;
        }
        figcaption {
            grid-column: 3 / span 8;
        }
    }

    .img-left, .img-right {
        grid-column: span 12;
        @include grid-12;
        img {
            grid-column: span 8;
        }
        figcaption {
            grid-column: span 4;
        }
    }

    .img-right {
        figcaption {
            text-align: right;
        }
    }

    .img-sequence-left, .img-sequence-right {
        grid-column: span 12;
        @include grid-12;
        img {
            grid-column: span 8;
        }
    }

    .img-sequence-right {
        img {
            grid-column: 4 / span 8;
        }
    }

    &.closing {
        p {
            grid-column: span 4;
        }
    }

    .previous, .next {
        border-bottom: 0;
        grid-column: span 6;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .card-wrapper {
            flex-grow: 4;
            height: 120px;
        }
        img {
            width: auto;
        }
        .card-details {
            flex-grow: 3;
            background-color: $alternate-background;
        }
        ion-icon {
            flex-grow: 2;
            font-size: 32px;
        }
    }

    .previous {
        ion-icon {
            margin-right: 14px;
        }
        .card-details {
            text-align: right;
        }
    }

    .next {
        ion-icon {
            margin-left: 14px;
        }
        .card-details {
            text-align: left;
        }
    }
}

.summary {
    p {
        @media #{$mq-desktop} {
            font-size: 24px;
            line-height: 36px;
        }
        @media #{$mq-lgdesktop} {
            font-size: 28px;
            line-height: 42px;
        }
    }
}