section.hero, section.project-details {
    background-color: $background;
}

.work section {
    @include grid-12;
    h2,
    h6, 
    p, 
    ol,
    hr {
        grid-column: 2 / span 10;
    }
    
    &.hero {
        p, img {
            grid-column: span 12;
        }
        h1 {
            grid-column: 2 / span 10;
        }
    }

    &.project-details {
        .problem {
            grid-column: 2 / span 5;
        }
        .result {
            grid-column: 7 / span 5;
        }
        .role {
            grid-column: 2 / span 10;
        }
    }

    &.summary {
        p {
            grid-column: 3 / span 8;
        }
    }

    .img-2up {
        grid-column: span 12;
        @include grid-12;
        figure {
            grid-column: span 6;
        }
    }

    .img-1up {
        grid-column: span 12;
        @include grid-12;
        img {
            grid-column: span 12;
        }
        figcaption {
            grid-column: 2 / span 10;
        }
    }

    .img-left, .img-right {
        grid-column: span 12;
        @include grid-12;
        img {
            grid-column: span 8;
        }
        figcaption {
            grid-column: span 4;
        }
    }

    .img-sequence-left, .img-sequence-right {
        grid-column: span 12;
        @include grid-12;
        img {
            grid-column: span 8;
        }
    }

    .img-sequence-right {
        img {
            grid-column: 4 / span 8;
        }
    }

    &.closing {
        p {
            grid-column: span 4;
        }
    }

    // .previous, .next {
    //     grid-column: span 6;
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-between;
    //     // ion-icon {
    //     // }
    //     .card-wrapper {
    //         flex-grow: 4;
    //         height: 120px;
    //     }
    //     .card-details {
    //         flex-grow: 3;
    //     }
    // }
}