// Header

header.company {
    background: linear-gradient($alternate-background 114px, $background 114px);
    overflow-x: hidden;

    @media #{$mq-tablet} {
        background: linear-gradient($alternate-background 160px, $background 160px);
    }

      @media #{$mq-desktop} {
        background: linear-gradient($alternate-background 200px, $background 200px);
    }
}

section.on-page-nav {
    height: 114px;
    display: flex;
    flex-direction: row-reverse;
    font-size: 28px;
    padding-right: 8%;

    @media #{$mq-tablet} {
      height: 160px;
    }

    @media #{$mq-desktop} {
      height: 200px;
    }

    #menu-icon {
        position: fixed;
        top: 26px;
        right: 8%;
        background-color: white;
        padding: 8px;

        @media #{$mq-desktop} {
            display: none;
        }
    }
  }

nav#sidenav {
    height: 100%;
    display: block;
    width: 0;
    overflow-x: hidden;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -8%;
    transition: all .3s ease;
    background-color: $accent-color;

    &.menuOpen {
        width: 100%;
        right: 0;
        padding-left: 10%;
        padding-right: 8%;
        transition: all .3s ease;
    }

    button {
        display: block;
        float: right;
    }

    h1.s5 {
        font-family: $heading-font-family;
        font-weight: 400;

        @media #{$mq-desktop} {
            margin-top: 100px;
        }
    }

    .links {
        margin-top: 40px;
        margin-bottom: 20px;
        flex-direction: column;

        @media #{$mq-desktop} {
            margin-top: 60px;
        }
    }

    .buttons {
        display: flex;
        flex-direction: column;
    }

    a {
        display: inline-block;
        margin-bottom: 10px;

        &.button-primary, 
        &.button-secondary {
        text-align: center;
        width: 200px;
        }

        &.button-tertiary {
            margin-bottom: 20px;
        }
    }

    .s4 {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .contact {

        a {
            border-bottom: 1px solid $primary-color;

            &:hover, 
            &:active,
            &:focus {
                border-bottom: 1px solid $secondary-color;
            }
        }
    }

    @media #{$mq-desktop} {
        display: block;
        width: 33%;
        overflow-x: hidden;
        position: fixed;
        top: 0;
        left: 0;
        background-color: transparent;

        button {
            display: none;
        }
    }

    @media #{$mq-lgdesktop} {
        width: 29%;
    }
}

main.company {

    @media #{$mq-desktop} {
        width: 66%;
        margin-left: 33%;
    }

    @media #{$mq-lgdesktop} {
        width: 71%;
        margin-left: 29%;
    }

    section {
        max-width: 1440px;
        margin: 0 auto 20px;
        @include grid-12;
        
        h1,
        h2,
        h3,
        h6, 
        p,
        hr,
        article,
        .button-primary,
        .work-samples {
            grid-column: span 12;

            @media #{$mq-mobile} {
                grid-column: 2 / span 10;
            }

            @media #{$mq-desktop} {
                grid-column: span 12;
            }

            @media #{$mq-lgdesktop} {
                grid-column: span 10;
            }

            @media #{$mq-xldesktop} {
                grid-column: 2 / span 8;
            }
        }

        ol {
            grid-column: 2 / span 11;

            @media #{$mq-mobile} {
                grid-column: 2 / span 10;
            }

            @media #{$mq-desktop} {
                grid-column: span 12;
            }

            @media #{$mq-lgdesktop} {
                grid-column: span 10;
            }

            @media #{$mq-xldesktop} {
                grid-column: 2 / span 8;
            }
        }

        h2,
        h3 {
        margin-bottom: 28px;  
        }

        .button-primary {
            text-align: center;
            max-width: 260px;

            @media #{$mq-xldesktop} {
                max-width: 300px;
            }
        }

        &#casestudies {
            margin-bottom: 60px;
        }

        section.intro {
            background-color: none;
        }
    }
}

main.company + footer {
    
    .bottom {
        display: none;
    }

    .left {

        a:first-child {
            display: none;
        }
    }

    @media #{$mq-desktop} {
        padding-top: 20px;

        .bottom {
            margin-top: 0;
        }
    }
}

.work-samples {
    margin-bottom: 50px;
    max-width: 700px;

    @media #{$mq-tablet} {
        margin-bottom: 60px;
    }

    .next {
        border-bottom: 0;
        grid-column: span 12;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 28px;

        .card-wrapper {
            flex-grow: 4;
            display: flex;
            height: 100%;
            width: 100%;

            &:hover,
            &:active,
            &:focus {
                transition: all .1s ease;
                outline: 3px solid $secondary-color;
                color: $primary-color;
                cursor: pointer;
            }
        }

        img {
            display: none;

            @media #{$mq-mobile} {
                display: block;
                width: 100%;
                max-width: 120px;
            }

            @media #{$mq-tablet} {
                max-width: 140px;
            }
        }

        .card-details {
            padding: 14px;
            flex-grow: 3;
            background-color: $alternate-background;
            text-align: left;
            @include flex-column;
        }

        p {
            margin-bottom: 0;
        }

        p.card-title {
            flex-grow: 3;
            margin-bottom: 14px;

            @media #{$mq-mobile} {

            }
        }

        ion-icon {
            flex-grow: 2;
            font-size: 32px;
            margin-left: 14px;
        }
    }
}

article.quote {
    @include grid-12;
    margin-top: 30px;

    .quote-mark {
        grid-column: span 2;

        @media #{$mq-mobile} {
            grid-column: span 1;
        }

        img {
            max-width: 30px;

            @media #{$mq-desktop} {
                max-width: 40px;
            }
        }
    }

    .quote-content {
        grid-column: span 10;

        @media #{$mq-mobile} {
            grid-column: span 11;
        }
    }
}

.get-in-touch {

    a {
        display: inline-block;
        margin-bottom: 10px;
    }
}