/**
 * Grid
 **/
 
section.intro {
  p {
    font-size: 40px;
    line-height: 52px;
    // font-weight: 700;
  }
}

section.about {
  @include grid-12;

  article {
    @include flex-column;
    justify-content: space-between;
    grid-column: span 12;
    
    @media #{$mq-tablet} {
        grid-column: 7 / span 6;
      }
  }
  img {
    grid-column: span 12;

    @media #{$mq-tablet} {
        grid-column: 1 / span 6;
      }
  }
  .bio {
    flex: 6 2 auto;
  }
  .links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex: 0 1 auto;
    margin-top: 24px;

    a {
      margin-bottom: 24px;
    }

    @media #{$mq-tablet} {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  .close {
    flex: 0 1 auto;
  }
}

main.home {
    display: grid;
    grid-template-areas: 
      'work'
      'writing'
      'speaking'
      'experiences'
      ;
    @media #{$mq-mobile} {
      grid-template-areas: 
      'work work'
      'writing speaking'
      'experiences experiences'
      ;
    }
  }
  

section.work {
  grid-area: work;
}

section.writing {
  grid-area: writing;
}

section.speaking {
  grid-area: speaking;
}

section.experiences {
  grid-area: experiences;
}
  
section.work, section.experiences {
  .work-container, .experiences-container {
    @include grid-12;
  }
  .card {
    grid-column: span 12;
    @media #{$mq-tablet} {
      grid-column: span 4;
    }
  }
}


// Intro

section.intro {
    border: 1px red solid;
    background: linear-gradient(180deg, $alternate-background 40%, $background 40%);
}


// About

section.about {
    background: $accent-color;
}