// Intro

nav.home {
  height: 114px;
  @media #{$mq-tablet} {
    height: 160px;
  }
  @media #{$mq-desktop} {
    height: 200px;
  }
}

// Intro 

section.intro {
  background-color: $background;
  .s1 {
    margin-top: -60px;
  }
  br {
    display: block;
  }
  button {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 0;
    margin-top: 4vw;
    padding: 0;

    &:hover, 
    &:active,
    &:focus {
      color: $secondary-color;
      ion-icon {
        color: $secondary-color;
      }
    }
  }
  ion-icon {
    margin-bottom: -7px;
  }

  @media #{$mq-mobile} {
    br {
      display: none;
    }
    .s1 {
      margin-top: -63px;
    }
    button {
      font-size: 32px;
      line-height: 40px;
    }
  }

  @media #{$mq-tablet} {
    .s1 {
      margin-top: -88px;
    }
    button {
      font-size: 40px;
      line-height: 52px;

      ion-icon {
        font-size: 32px;
      }
    }
  }

  @media #{$mq-desktop} {
    .s1 {
      margin-top: -100px;
    }
    button {
      font-size: 44px;
      line-height: 56px;

      ion-icon {
        font-size: 32px;
      }
    }
  }

  @media #{$mq-lgdesktop} {
    .s1 {
      margin-top: -116px;
    }
  }
  
  @media #{$mq-xldesktop} {
    .s1 {
      margin-top: -138px;
    }
  }

  @media #{$mq-xxldesktop} {
    .s1 {
      margin-top: -174px;
    }
    button {
      font-size: 52px;
      line-height: 64px;

      ion-icon {
        font-size: 44px;
      }
    }
  }
}

ion-icon#arrow {
  transform: rotate(0deg);
  transition: all .5s ease;

  &.rotate {
    transform: rotate(180deg);
    transition: all .5s ease;
  }
}

// About

section#about {
  transition: all .5s ease;
  overflow: hidden;
  max-height: 0px;
  padding: 0;
  &.slide {
    max-height: 120vh;
    }
  .wrapper {
    background: $accent-color;
    @include grid-12;
    padding: 4%;
  }
  article {
    @include flex-column;
    justify-content: space-between;
    grid-column: span 12;
    margin-top: 24px;

    @media #{$mq-tablet} {
        grid-column: 7 / span 6;
    }
  }
  img {
    grid-column: span 12;

    @media #{$mq-tablet} {
        grid-column: 1 / span 6;
    }
  }
  .bio {
    flex: 6 2 auto;
  }
  .close {
    appearance: none;
    border: none;
    background: transparent;
    ion-icon {
      display: block;
      margin: 0 auto;
      font-size: 44px;

      &:hover, &:active {
        color: $secondary-color;
      }

      @media #{$mq-xxldesktop} {
        font-size: 54px;
      }
    }
  }
}

// Main Grid

main.home {
    display: grid;
    grid-template-areas:
      'work'
      'writing'
      'speaking'
      'experiences'
      'thanks'
      ;
    @media #{$mq-tablet} {
      grid-template-areas:
      'work work'
      'writing speaking'
      'experiences experiences'
      'thanks thanks'
      ;
    }
  }


section.work {
  grid-area: work;
  max-width: 100vw;
}

section.writing {
  grid-area: writing;
}

section.speaking {
  grid-area: speaking;
}

section.experiences {
  grid-area: experiences;
}

section.work, section.experiences {
  width: 100vw;
  padding: 0;
  header {
    padding: 4%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    p, 
    ion-icon {
      display: inline-block;
    }
    p {
      margin: 1.5rem 0;
    }
    button {
      ion-icon {
        margin: 0;
        font-size: 32px;

        @media #{mq-mobile} {
          margin: 0 14px;
        }
      }

      &:hover,
      &:active {
        ion-icon {
          cursor: pointer;
          color: $secondary-color;
        }

        &[disabled] {
          ion-icon {
            cursor: default;
            color: $link-color;
            opacity: .3;
          }
        }
      }
    }
  }

  footer {
    text-align: right;
    margin-right: 1%;
  }

  .s3 {
    flex: 2 1 auto;
    margin-bottom: 0;
  }

  .s5 {
    margin-bottom: 14px;
    font-family: $font-family-bold;
    font-weight: 700;
  }

  .controls-work, .controls-experience {
    @media #{$mq-xxldesktop} {
      ion-icon {
        font-size: 44px;
      }
    }
  }
}

section.writing, section.speaking {
  padding: 4%;
  a:hover {
    .s5, 
    ion-icon {
      color: $secondary-color;
    }
  }
  ion-icon {
    margin-left: 4px;
    margin-bottom: -4px;
    --ionicon-stroke-width: 46px;
    &:hover, 
    &:active {
      color: $secondary-color;
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    margin: 8vw 0;

    @media #{$mq-mobile} {
      margin: 6vw 0;
    }

    @media #{$mq-tablet} {
      margin: 4vw 0;
    }

    @media #{$mq-xldesktop} {
      margin: 2vw 0;
    }
  }
  .last {
    margin-bottom: 0;
  }

  @media #{$mq-tablet} {
    padding: 16% 8% 8% 8%;
  }
}

section.writing {
  margin-top: 8vw;

  @media #{$mq-mobile} {
    margin-top: 0;
  }
}

section.thanks {
  grid-area: thanks;
  text-align: center;
  margin: 56px 0;
  
  .s2 {
    font-size: 26px;

    @media #{$mq-tablet} {
      font-size: 38px;
    }

    @media #{$mq-lgdesktop} {
      font-size: 50px;
    }

    @media #{$mq-xxldesktop} {
      font-size: 62px;
    }
  }

  hr {
    margin-bottom: 24px;
  }
}
