---
title: Inspiring change with design thinking workshops
---

%header.work
    = partial "partials/nav"

    %section.hero
        %p Ignite by Adecco / 2014
        %h1.s2 Inspiring change with design thinking workshops
        %img{:srcset => "../images/catalyst-1a-500.jpg 500w, ../images/catalyst-1a-1000.jpg 1000w, ../images/catalyst-1a-1400.jpg 1400w, ../images/catalyst-1a-2800.jpg 2800w", :sizes => "(max-width: 1400px) 100vw, 1400px", :src => "../images/catalyst-1a-1400.jpg", :alt => "Workshop participants rush to the whiteboard for an ideation exercise."}

    %section.project-details
        .problem
            %h6.s6 Problem
            %p Although Ignite was created to disrupt Adecco from within, we soon realized that we needed to shift their mindsets if we were going to affect real change in the company.
        .result
            %h6.s6 Result
            %p We created Catalyst, a custom design-thinking workshop method. Over the course of 2 years, we held over 20 two-day workshops, both internally for Adecco and externally for small businesses.
        .role
            %h6.s6 My Role
            %p Strategy, Facilitation, UX Design, Visual Design, Front-End Development, Photography
        %hr

%main.work
    %section.summary
        %p.large Ignite was started as an incubator inside of the global staffing behemoth Adecco. The goal was to disrupt from the inside inorder to avoid disruption from the outside. While we had the buy-in from executive leadership, getting the rest of the company on board proved to be a challenge. The people doing the actual work at Adecco needed a new way of thinking inorder to come up with creative solutions to their pressing issues.......... Provide internal and external design thinking workshops to help teams approach their problems creatively.......

    %section
        %h2.s4 A human-first approach
        %p At most of the Catalyst workshops, I gave a talk on the importance of the human element in business. I would walk workshop attendees through the value of human-centered design, using real examples of ways companies have used this to create extraordinary experiences, making them standout in the marketplace.
        %figure.img-left
            %img{:srcset => "../images/catalyst-2a-500.jpg 500w, ../images/catalyst-2a-1000.jpg 1000w, ../images/catalyst-2a-2000.jpg 2000w", :sizes => "(max-width: 991px) 100vw, (max-width: 1439) 60vw, 850px", :src => "../images/catalyst-2a-1000.jpg", :alt => "Me, presenting my human talk to workshop attendees."}
            %figcaption.small
                %strong Put your users first, the rest will follow. 
                For many workshop attendees used to corporate culture, focusing on the user above all else was a hard concept to grasp. My talk shared stores of General Electric, JetBlue, and others who've had huge successes by focusing on the people they serve and the experiences they create for them.

    %section
        %h2.s4 Setting the stage with personas
        %p Creating personas is an important part of the workshop process. It’s the foundation on which the rest of the exercises are built. Getting people up and moving helps them be more creative and work as a team.
        %figure.img-right
            %figcaption.small
                %strong Building empathy.
                By putting faces, names, and backgrounds to the personas, attendees where able to see their company problems through their users' eyes. This unlocked many insights that had previously been obscurred.
            %img{:srcset => "../images/catalyst-3a-500.jpg 500w, ../images/catalyst-3a-1000.jpg 1000w, ../images/catalyst-3a-2000.jpg 2000w", :sizes => "(max-width: 991px) 100vw, (max-width: 1439) 60vw, 850px", :src => "../images/catalyst-3a-1000.jpg", :alt => "Workshop attendees stand around a ping pong table for a persona exercise."}

    %section
        %h2.s4 A customized experience
        %p From small groups to large, internal to external, products to services, each Catalyst workshop was customized to fit the needs of its attendees. Anthony Catanese, our product manager, did a wonderful job creating a flexible structure that could be easily manipulated depending on the needs of the group.
        %figure.img-left
            %img{:srcset => "../images/catalyst-4a-500.jpg 500w, ../images/catalyst-4a-1000.jpg 1000w, ../images/catalyst-4a-2000.jpg 2000w", :sizes => "(max-width: 991px) 100vw, (max-width: 1439) 60vw, 850px", :src => "../images/catalyst-4a-1000.jpg", :alt => "Attendees break into small groups. The office dog lays on the floor."}
            %figcaption.small
                %strong The power of small groups and getting people moving.
                We created numerous exercise to help unlock creativity in our participants. We created a framework with plug and play exercises that would be switched out based on the company type and problem set.

    %section
        %h2.s4 The marshmallow challenge
        %p The marshmallow challenge was usually a favorite among attendees. We used the hands-on activity to illustrate the importance of creating prototypes, reserving judgement, working together as a team, starting with the most important thing first, and iterating.
        %figure.img-right
            %figcaption.small
                %strong A simple task made complex.
                Do you know who does best at the marshmallow challenge? Kindergarteners. And who doesn't? CEOs and other top leadership. Kids dive right in and start trying things. They don't over think it, they just start prototyping and learning from their mistakes. Professional adults, especially those in higher postiions, tend to want to plan and debate, trying to come up with "the best" way to solve the problem. And then at the last minute, they hurry to execute their plans only to have them fail. It's a great lesson for innovation. Fail early and fail often, but keep iterating.
            %img{:srcset => "../images/catalyst-5a-500.jpg 500w, ../images/catalyst-5a-1000.jpg 1000w, ../images/catalyst-5a-2000.jpg 2000w", :sizes => "(max-width: 991px) 100vw, (max-width: 1439) 60vw, 850px", :src => "../images/catalyst-5a-1000.jpg", :alt => "A team stands around their marshmallow challenge failure."}

    %section
        %h2.s4 Unleashing creativity
        %p One of the best parts of facilitating these workshops was watching people step into their own creativity. Some people struggled more than others, and some people fought hard against it. However, by the end of each session almost everyone was thinking differently.
        %figure.img-left
            %img{:srcset => "../images/catalyst-6a-500.jpg 500w, ../images/catalyst-6a-1000.jpg 1000w, ../images/catalyst-6a-2000.jpg 2000w", :sizes => "(max-width: 991px) 100vw, (max-width: 1439) 60vw, 850px", :src => "../images/catalyst-6a-1000.jpg", :alt => "Group members high-five after a successful ideation exercise."}
            %figcaption.small
                %strong Contagious energy.
                The success of these Catalyst workshops hinged on workshop attendees bringing back what they learned to their teams. Making sure they were challenging, eye-opening, and fun helped ensure this.  

    %section.summary
        %p.large Conclusion needed!!!!

    %section.closing
        %hr
        %h6.s6 Thank Yous
        %p
            %strong Anthony Catanese
            Product Management &amp; Facilitation
        %p
            %strong Katy Garrison
            Visual Design
        %p
            %strong Amy Wall
            Photography &amp; Facilitation
        %p
            %strong Jason Kellum
            Videography

    

= partial "partials/more_work", :locals => { :prev_card_title => "Wayfind: building a career-pathing app", :prev_company_year => "Ignite by Adecco / 2015", :prev_srcset => "../images/home-wayfind-140.jpg 140w, ../images/home-wayfind-280.jpg 280w", :prev_sizes => "140px", :prev_src => "../images/home-wayfind-280.jpg", :prev_alt => "An illustration of two characters looking up at the stars. The Wayfind logo sits in the sky.", :next_card_title => "A new direct-to-consumer priority for Serta", :next_company_year => "Tuft & Needle / 2019", :next_srcset => "../images/home-serta-140.jpg 140w, ../images/home-serta-280.jpg 280w", :next_sizes => "140px", :next_src => "../images/home-serta-280.jpg", :next_alt => "A man and woman drinking wine on an iComfort mattress in a bedroom" }
