---
title: Minimizing decision fatigue on product pages
---

%header.work
    = partial "partials/nav"

    %section.hero
        %p Tuft & Needle / 2018
        %h1.s2 Minimizing decision fatigue on product pages
        %img{:srcset => "../images/configurator-1a-500.jpg 500w, ../images/configurator-1a-1000.jpg 1000w, ../images/configurator-1a-1400.jpg 1400w, ../images/configurator-1a-2800.jpg 2800w", :sizes => "(max-width: 1400px) 100vw, 1400px", :src => "../images/configurator-1a-1400.jpg", :alt => "Part of the T&N Original Mattress product page special sauce section"}

    %section.project-details
        .problem
            %h6.s6 Problem
            %p Hundreds of poorly differentiated products on the Serta and Beautyrest sites were creating a bad experience for customers.
        .result
            %h6.s6 Result
            %p We convinced Serta and Beautyrest leadership to simplify their product mix and to group remaining products using a configurator.
        .role
            %h6.s6 My Role
            %p Strategy, UX Design, Prototyping, User Research
        %hr

%main.work
    %section.summary
        %p.large Tuft & Needle changed the mattress industry by creating a new way to buy mattresses. Our try-at-home, bed-in-a-box model with free shipping and easy returns raised the bar on customer support and convenience. And while we created an industry that has been steadily stealing away market share from the traditional players, there’s still a majority of shoppers who buy mattresses through traditional means. Our merger with Serta Simmons Bedding (SSB) is our attempt to change the way traditional mattress companies do business, making it a better experience for customers. 
        %p.large In preparation for the merger, we kicked off a preliminary study to determine the most effective strategy for making quick, positive changes to the customer experience for Serta and Beautyrest.

    %section
        %h2.s4 Identifying the problems
        %p After conducting some initial research and an audit of Serta’s and Beautyrest’s websites, products, and services, we determined that several things are holding the brands back from having the type of customer experience that modern shoppers have come to expect.
        %ol.no-image
            %li Too many product offerings with unclear differentiation
            %li Poor customer support, especially around warranty claims and returns
            %li Cluttered, complicated websites with confusing information architecture and convoluted purchase paths. 

    %section 
        %h2.s4 The configurator: a simplification of choice
        %p We had many multidisciplinary brainstorming sessions generating and evaluating various solutions. To address numbers 1 and 3, we decided that the best first step was to streamline the product offerings by removing hundreds of products from the online shopping experience and merging the best-selling SKUs into a few distinct, configurable products. 
        %p Taking inspiration from the automotive and tech industries, we experimented with creating product detail pages that would allow us to offer multiple variations of a product but display them to the user in a simplified, benefit-based decision flow. We called this new type of product page a “configurator.”
        %figure.img-left
            %img{:srcset => "../images/configurator-3a-500.jpg 500w, ../images/configurator-3a-1000.jpg 1000w, ../images/configurator-3a-2000.jpg 2000w", :sizes => "(max-width: 991px) 100vw, (max-width: 1439) 60vw, 850px", :src => "../images/configurator-3a-1000.jpg", :alt => "A comp of the new Serta product detail page viewed at 1024px wide."}
            %figcaption.small
                %strong An initial wireframe. 
                The right side of the screen and bottom bar and would be sticky to the viewport as the left side scrolls. 
        %figure.img-right
            %figcaption.small
                %strong Another initial concept. 
                One of the big problems to solve was how to display the upgrades. Should users be forced to make a selection for each option, similar to buying an iPhone? Or like the example above, would the upgrades be checkboxes that could easily be skipped over? There were pros and cons to both solutions.  
            %img{:srcset => "../images/configurator-6a-500.jpg 500w, ../images/configurator-6a-1000.jpg 1000w, ../images/configurator-6a-2000.jpg 2000w", :sizes => "(max-width: 991px) 100vw, (max-width: 1439) 60vw, 850px", :src => "../images/configurator-6a-1000.jpg", :alt => "A comp of the 3rd step of checkout on serta.com. This step collects delivery information."}
        %figure.img-left
            %img{:srcset => "../images/configurator-3a-500.jpg 500w, ../images/configurator-3a-1000.jpg 1000w, ../images/configurator-3a-2000.jpg 2000w", :sizes => "(max-width: 991px) 100vw, (max-width: 1439) 60vw, 850px", :src => "../images/configurator-3a-1000.jpg", :alt => "A comp of the new Serta product detail page viewed at 1024px wide."}
            %figcaption.small
                %strong A concept focusing on upgrade features and benefits. 
                The “best for” section was intended to help reduce decision fatigue.

    %section 
        %h2.s4 Merging four models into one: the initial prototype
        %p I conducted eight in-person tests with the initial prototype. In this version, I took four different products and packaged them as one product with modifications. In general, the feedback was that the proposed solution was intuitive and easy to use. Even though each participant was technically choosing between 4 different models, the build-your-own mattress flow helped tremendously with decision fatigue. They didn’t feel that they were choosing between different models. They thought they were configuring one model with the features that made the most sense to their sleep preferences. 
        %figure.img-left
            %img{:srcset => "../images/configurator-3a-500.jpg 500w, ../images/configurator-3a-1000.jpg 1000w, ../images/configurator-3a-2000.jpg 2000w", :sizes => "(max-width: 991px) 100vw, (max-width: 1439) 60vw, 850px", :src => "../images/configurator-3a-1000.jpg", :alt => "A comp of the new Serta product detail page viewed at 1024px wide."}
            %figcaption.small
                %strong A wireframe from the initial prototype. 
                Because the questions we wanted answered were about flow and functionality, I created the prototype using wireframes rather than fully designed comps. Using InVision’s fixed component feature kept the right side sticky in the viewport as particpants scrolled.
        %figure.img-right
            %figcaption.small
                %strong Choosing an upgrade. 
                When users made a selection on the left, the product summary on the right updated.  
            %img{:srcset => "../images/configurator-6a-500.jpg 500w, ../images/configurator-6a-1000.jpg 1000w, ../images/configurator-6a-2000.jpg 2000w", :sizes => "(max-width: 991px) 100vw, (max-width: 1439) 60vw, 850px", :src => "../images/configurator-6a-1000.jpg", :alt => "A comp of the 3rd step of checkout on serta.com. This step collects delivery information."}

    %section 
        %h2.s4 Convincing SSB to take the leap
        %p.no-image I created two other prototypes to refine the idea and get buy-in from SSB leadership. With the help of the prototypes and research findings, the Tuft & Needle management team was able to convince the SSB leadership team to move forward with this idea of configurable products.

    %section.summary
        %p.large This project laid the groundwork for the successful relaunch of custom e-commerce sites for both Beautyrest and Serta and is on track to change the way both brands handle product strategy moving forward.

    %section.closing
        %hr
        %h6.s6 Thank Yous
        %p
            %strong JT Marino
            Strategy
        %p
            %strong Aaron Whitney
            Strategy
        %p
            %strong Tyler Marino
            Project Management

    

= partial "partials/more_work", :locals => { :prev_card_title => "Left Side A new PDP template", :prev_company_year => "Tuft & Needle / 2019", :prev_img_link => "https://via.placeholder.com/120x120", :next_card_title => "Right Side A new PDP template", :next_company_year => "Tuft & Needle / 2019", :next_img_link => "https://via.placeholder.com/120x120" }
