---
title: I’ll take my product page with mayo, please
---

%header.work
    = partial "partials/nav"

    %section.hero
        %p Tuft & Needle / 2019
        %h1.s2 I’ll take my product page with mayo, please
        %img{:srcset => "../images/sandwich-1a-500.jpg 500w, ../images/sandwich-1a-1000.jpg 1000w, ../images/sandwich-1a-1400.jpg 1400w, ../images/sandwich-1a-2800.jpg 2800w", :sizes => "(max-width: 1400px) 100vw, 1400px", :src => "../images/sandwich-1a-1400.jpg", :alt => "Part of the T&amp;N Original Mattress product page special sauce section"}

    %section.project-details
        .problem
            %h6.s6 Problem
            %p Beautiful, custom product pages were taking too much design and engineering effort considering the frequency of launches.
        .result
            %h6.s6 Result
            %p A new, flexible template allowed the team to launch a new product 40-80% faster while still maintaining an engaging, storytelling design.
        .role
            %h6.s6 My Role
            %p Strategy, Leadership, Creative Direction, UX Direction, UX Design, Mentorship
        %hr

%main.work
    %section.summary
        %p.large In user testing, participants loved the unique, storytelling layouts of Tuft & Needle’s product detail pages (PDPs). The large photography, custom iconography, and diagrams were reported to be helpful in making a purchase decision. However, given the product launch cadence, we needed to find a way to make these pages more efficient so that design and engineering could focus their efforts on more complex problems.
        %p.large We also had a consistency issue. Because we had been moving fast and iterating constantly, the Tuft & Needle PDPs were in various stages of improvements.  

    %section
        %h2.s4 User testing confirms our hypotheses
        %p.no-image User testing on the existing product pages confirmed what we knew: moving between products was confusing for customers. The pages lacked consistent patterns, making it hard to find information quickly and compare products. It also revealed how important reviews are for shoppers. The large, engaging photography, iconography, and diagrams were helpful to participants however they also revealed some issues with how the diagrams were fitting in various viewports. 

    %section
        %h2.s4 Getting everyone into the room and on the same page
        %p Both marketing and UX had a lot of thoughts about how the page should be structured. To make sure we took everything into account, we held an initial brainstorming session with marketing. We asked each participant (marketing, design, copywriters) to bring three examples of PDPs that they felt were successful and to be prepared to explain why. We then put them up on the walls to identify patterns. Talking through everyone’s selections, we made sure to capture any must-have requirements and hypotheses to test.
        %p This initial meeting was a great way to ensure that marketing felt heard and that their requirements were factored in. There were, of course, areas where UX and marketing were in disagreement about the best course of action. We worked through each of these issues and noted any items that we wanted to A/B test.
        %figure.img-1up
            %img{:srcset => "../images/sandwich-2a-500.jpg 500w, ../images/sandwich-2a-1000.jpg 1000w, ../images/sandwich-2a-1400.jpg 1400w, ../images/sandwich-2a-2800.jpg 2800w", :sizes => "(max-width: 1400px) 100vw, 1400px", :src => "../images/sandwich-2a-1400.jpg", :alt => "The serta.caom navigation drawer opens because the mouse is hovering over the mattresses link"}
            %figcaption.small
                %strong A few of the inspiration examples from our initial brainstorm.

    %section 
        %h2.s4 A sandwich model emerges
        %p As we ideated on possible structures for the PDPs, the analogy of building a sandwich started to take shape. Above all, we needed the PDPs to be a balance of flexibility and consistency. We wanted users always to be able to find important information in the same place, but we also wanted to have optional sections to add more rich content to the products that needed it. We realized that just like a sandwich, the PDPs would have components that are always required, like bread and meat. But then there would be optional add-ons — lettuce, tomato, and special sauce — depending on how fancy you wanted to get. 
        %p This analogy let us have fun with the project and helped the marketing and engineering teams get on board with the idea. 
        %figure.img-left
            %img{:srcset => "../images/sandwich-3a-500.jpg 500w, ../images/sandwich-3a-1000.jpg 1000w, ../images/sandwich-3a-2000.jpg 2000w", :sizes => "(max-width: 991px) 100vw, (max-width: 1439) 60vw, 850px", :src => "../images/sandwich-3a-1000.jpg", :alt => "A comp of the new Serta product detail page viewed at 1024px wide."}
            %figcaption.small
                %strong Top bread. 
                Top bread is the most important part of the page. It contains the product selector, identifying information about the product, and financing and store options. 
        %figure.img-1up
            %img{:srcset => "../images/sandwich-4a-500.jpg 500w, ../images/sandwich-4a-1000.jpg 1000w, ../images/sandwich-4a-1400.jpg 1400w, ../images/sandwich-4a-2800.jpg 2800w", :sizes => "(max-width: 1400px) 100vw, 1400px", :src => "../images/sandwich-4a-1400.jpg", :alt => "The serta.com navigation drawer opens because the mouse is hovering over the mattresses link"}
            %figcaption.small
                %strong Meat (and maybe cheese). 
                Most of the components of the meat section are required. There are, however, a couple options. The designer can choose between regular bacon or turkey bacon, depending on how robust the materials are. And for more complex products, they may want to add cheese in the form of assembly or unboxing instructions.
        %figure.img-1up
            %img{:srcset => "../images/sandwich-5a-500.jpg 500w, ../images/sandwich-5a-1000.jpg 1000w, ../images/sandwich-5a-1400.jpg 1400w, ../images/sandwich-5a-2800.jpg 2800w", :sizes => "(max-width: 1400px) 100vw, 1400px", :src => "../images/sandwich-5a-1400.jpg", :alt => "The serta.com navigation drawer opens because the mouse is hovering over the mattresses link"}
            %figcaption.small
                %strong Ah, special sauce: my favorite. 
                This section is optional. If the designer decides to include it, they can choose between 3 unique layouts. This choice is influenced by photography and content needs. We try to make sure the site has a nice variety of sauces to keep it interesting. 
        %figure.img-right
            %figcaption.small
                %strong Lettuce. 
                This optional section displays the product features visually, usually using a product cutaway shot. This can be very helpful for more complex products.  
            %img{:srcset => "../images/sandwich-6a-500.jpg 500w, ../images/sandwich-6a-1000.jpg 1000w, ../images/sandwich-6a-2000.jpg 2000w", :sizes => "(max-width: 991px) 100vw, (max-width: 1439) 60vw, 850px", :src => "../images/sandwich-6a-1000.jpg", :alt => "A comp of the 3rd step of checkout on serta.com. This step collects delivery information."}
        %figure.img-left
            %img{:srcset => "../images/sandwich-7a-500.jpg 500w, ../images/sandwich-7a-1000.jpg 1000w, ../images/sandwich-7a-2000.jpg 2000w", :sizes => "(max-width: 991px) 100vw, (max-width: 1439) 60vw, 850px", :src => "../images/sandwich-7a-1000.jpg", :alt => "A comp of the new Serta product detail page viewed at 1024px wide."}
            %figcaption.small
                %strong Tomatoes: they’re good for your eyes. 
                The tomato section is optional, but we try to include it whenever possible. Just like a big juicy tomato slice on a sandwich, this section’s lifestyle photo and catchy headline help make the product look, mmm mmm, good.  
        %figure.img-right
            %figcaption.small
                %strong Bottom bread. 
                Last but not least, we have the bottom bread. This required section contains important items like reviews, other related products, our value propositions, and user-generated content.  
            %img{:srcset => "../images/sandwich-8a-500.jpg 500w, ../images/sandwich-8a-1000.jpg 1000w, ../images/sandwich-8a-2000.jpg 2000w", :sizes => "(max-width: 991px) 100vw, (max-width: 1439) 60vw, 850px", :src => "../images/sandwich-8a-1000.jpg", :alt => "A comp of the 3rd step of checkout on serta.com. This step collects delivery information."}

    %section
        %h2.s4 How it all comes together
        %p Now, at the beginning of each new product launch, we have a multidiscipliary kickoff with product, design, copy, and marketing. Together we decide the high-level components of the sandwich based on the product’s features, importance and marketing strategy. Then the designer and copywriter pair to create the page.
        %figure.img-left
            %img{:srcset => "../images/sandwich-9a-500.jpg 500w, ../images/sandwich-9a-1000.jpg 1000w, ../images/sandwich-9a-2000.jpg 2000w", :sizes => "(max-width: 991px) 100vw, (max-width: 1439) 60vw, 850px", :src => "../images/sandwich-9a-1000.jpg", :alt => "A comp of the new Serta product detail page viewed at 1024px wide."}
            %figcaption.small
                %strong The Contrast Platform Bed. 
                This frame is one product that has used the new PDP template to design and launch the page faster.

    %section.summary
        %p.large The engineering team is finalizing the new product detail page template. Already, it allows us to launch product pages 40% faster. Once the PDP is fully integrated into our CMS, it will remove its reliance on engineering entirely. At this point, we should be able to launch product pages 80% faster than our original launch speed. This will allow design and engineering to spend more time on more complex problems.

    %section.closing
        %hr
        %h6.s6 Thank Yous
        %p
            %strong Rachel Rose
            UX &amp; Visual Design
        %p
            %strong Breanne DeMore
            Copywriting
        %p
            %strong Dmitry Mardukhayev &amp; Jackson Hardaker
            Front-End Development
        %p
            %strong Eliza Marcum
            Back-End Development
        %p
            %strong Karla Boedeker
            Project Management
    

= partial "partials/more_work", :locals => { :prev_card_title => "Left Side A new PDP template", :prev_company_year => "Tuft & Needle / 2019", :prev_img_link => "https://via.placeholder.com/120x120", :next_card_title => "Right Side A new PDP template", :next_company_year => "Tuft & Needle / 2019", :next_img_link => "https://via.placeholder.com/120x120" }

