---
title: I’ll take my product page with mayo, please
---

%header.work
    = partial "partials/nav"

    %section.hero
        %p Tuft & Needle / 2019
        %h1.s2 I’ll take my product page with mayo, please
        %img{:srcset => "../images/sandwich-1a-500.jpg 500w, ../images/sandwich-1a-1000.jpg 1000w, ../images/sandwich-1a-1400.jpg 1400w, ../images/sandwich-1a-2800.jpg 2800w", :sizes => "(max-width: 1400px) 100vw, 1400px", :src => "../images/sandwich-1a-1400.jpg", :alt => "Part of the T&amp;N Original Mattress product page special sauce section"}

    %section.project-details
        .problem
            %h6.s6 Problem
            %p Beautiful, custom product pages took too much design and engineering effort, considering the frequency of product launches. This kept the team from solving more significant problems. 
        .result
            %h6.s6 Result
            %p A new, flexible template allows the team to launch new product pages 80% faster while still maintaining an engaging, storytelling design. We’ve also increased an important product's conversion rate by 28.75% and subsequent revenue on that product by 33.22% YOY.
        .role
            %h6.s6 My Role
            %p Strategy, Leadership, Creative Direction, UX Direction, UX Design, Mentorship
        %hr

%main.work
    %section.summary
        %p.large In our research, participants loved the unique, storytelling layouts of Tuft & Needle’s product detail pages (PDPs). They reported that large photography, custom iconography, and diagrams helped them make purchase decisions. However, given the product launch cadence, we needed to find a way to make these pages more efficient so that design and engineering could focus their efforts on more complex problems. 
        %p.large The team was given only three weeks to completely redesign a new flexible template system that would allow for quick launches yet maintain our current pages’ storytelling. 

    %section
        %h2.s4 User testing confirms our hypotheses
        %p.no-image User testing on the existing product pages confirmed what we knew: moving between products was confusing for customers. The pages lacked consistent patterns, making it hard to find information quickly and compare products. It also revealed how critical reviews are for shoppers. The large, engaging photography, iconography, and diagrams were helpful to participants. However, they also revealed some issues with how the diagrams were fitting in various viewports.

    %section
        %h2.s4 Getting everyone into the room and on the same page
        %p Both marketing and UX had many ideas about how the page should be structured. To make sure we took everything into account, we held an initial brainstorming session with marketing. We asked each participant (marketing, design, copywriters) to bring three examples of PDPs that they felt were successful and to be prepared to explain why. We then put them up on the walls to identify patterns. Talking through everyone’s selections, we made sure to capture any must-have requirements and hypotheses to test.
        %p This initial meeting was a great way to ensure that marketing felt heard and that their requirements were factored in. Of course, there were areas where UX and marketing were in disagreement about the best course of action. We worked through each of these issues and noted any items that we wanted to A/B test.
        %figure.img-1up
            %img.lazy{:data => {:srcset => "../images/sandwich-2a-500.jpg 500w, ../images/sandwich-2a-1000.jpg 1000w, ../images/sandwich-2a-1400.jpg 1400w, ../images/sandwich-2a-2800.jpg 2800w", :sizes => "(max-width: 1400px) 100vw, 1400px", :src => "../images/sandwich-2a-1400.jpg"}, :alt => "The serta.caom navigation drawer opens because the mouse is hovering over the mattresses link"}
            %figcaption.small
                %strong A few of the inspiration examples from our initial brainstorm.

    %section 
        %h2.s4 A sandwich model emerges
        %p As we ideated on possible structures for the PDPs, the analogy of building a sandwich started to take shape. Above all, we needed the PDPs to be a balance of flexibility and consistency. We wanted users to always find important information in the same place, but we also wanted to have optional sections to add more rich content to the products that needed it. We realized that just like a sandwich, the PDPs would have components that are always required, like bread and meat. But then there would be optional add-ons &mdash; lettuce, tomato, and special sauce &mdash; depending on how fancy you wanted to get.
        %p This analogy let us have fun with the project and helped the marketing and engineering teams get on board with the idea. 
        %figure.img-left
            %img.lazy{:data => {:srcset => "../images/sandwich-3a-500.jpg 500w, ../images/sandwich-3a-1000.jpg 1000w, ../images/sandwich-3a-2000.jpg 2000w", :sizes => "(max-width: 991px) 100vw, (max-width: 1439) 60vw, 850px", :src => "../images/sandwich-3a-1000.jpg"}, :alt => "A comp of the new Serta product detail page viewed at 1024px wide."}
            %figcaption.small
                %strong Top bread. 
                Top bread is the most critical part of the page. It contains the product selector, identifying information about the product, and financing and store options. 
        %figure.img-1up
            %img.lazy{:data => {:srcset => "../images/sandwich-4a-500.jpg 500w, ../images/sandwich-4a-1000.jpg 1000w, ../images/sandwich-4a-1400.jpg 1400w, ../images/sandwich-4a-2800.jpg 2800w", :sizes => "(max-width: 1400px) 100vw, 1400px", :src => "../images/sandwich-4a-1400.jpg"}, :alt => "The serta.com navigation drawer opens because the mouse is hovering over the mattresses link"}
            %figcaption.small
                %strong Meat (and maybe cheese). 
                Most of the components of the meat section are required. There are, however, a couple of options. The designer can choose between regular bacon or turkey bacon, depending on how robust the materials are. And for more complex products, they may want to add cheese in the form of assembly or unboxing instructions.
        %figure.img-1up
            %img.lazy{:data => {:srcset => "../images/sandwich-5a-500.jpg 500w, ../images/sandwich-5a-1000.jpg 1000w, ../images/sandwich-5a-1400.jpg 1400w, ../images/sandwich-5a-2800.jpg 2800w", :sizes => "(max-width: 1400px) 100vw, 1400px", :src => "../images/sandwich-5a-1400.jpg"}, :alt => "The serta.com navigation drawer opens because the mouse is hovering over the mattresses link"}
            %figcaption.small
                %strong Ah, special sauce: my favorite. 
                This section is optional. If the designer decides to include it, they can choose between 3 unique layouts. This choice is influenced by photography and content needs. We try to make sure the site has a nice variety of sauces to keep it interesting. 
        %figure.img-right
            %figcaption.small
                %strong Lettuce. 
                This optional section displays the product features visually, usually using a product cutaway shot. This can be very helpful for more complex products.  
            %img.lazy{:data => {:srcset => "../images/sandwich-6a-500.jpg 500w, ../images/sandwich-6a-1000.jpg 1000w, ../images/sandwich-6a-2000.jpg 2000w", :sizes => "(max-width: 991px) 100vw, (max-width: 1439) 60vw, 850px", :src => "../images/sandwich-6a-1000.jpg"}, :alt => "A comp of the 3rd step of checkout on serta.com. This step collects delivery information."}
        %figure.img-left
            %img.lazy{:data => {:srcset => "../images/sandwich-7a-500.jpg 500w, ../images/sandwich-7a-1000.jpg 1000w, ../images/sandwich-7a-2000.jpg 2000w", :sizes => "(max-width: 991px) 100vw, (max-width: 1439) 60vw, 850px", :src => "../images/sandwich-7a-1000.jpg"}, :alt => "A comp of the new Serta product detail page viewed at 1024px wide."}
            %figcaption.small
                %strong Tomatoes: they’re good for your eyes. 
                The tomato section is optional, but we try to include it whenever possible. Just like a big juicy tomato slice on a sandwich, this section’s lifestyle photo and catchy headline help make the product look, mmm mmm, good.  
        %figure.img-right
            %figcaption.small
                %strong Bottom bread. 
                Last but not least, we have the bottom bread. This required section contains essential items like reviews, other related products, value propositions, and user-generated content.
            %img.lazy{:data => {:srcset => "../images/sandwich-8a-500.jpg 500w, ../images/sandwich-8a-1000.jpg 1000w, ../images/sandwich-8a-2000.jpg 2000w", :sizes => "(max-width: 991px) 100vw, (max-width: 1439) 60vw, 850px", :src => "../images/sandwich-8a-1000.jpg"}, :alt => "A comp of the 3rd step of checkout on serta.com. This step collects delivery information."}

    %section
        %h2.s4 How it all comes together
        %p At the beginning of each new product launch, we have a multidisciplinary kickoff with product, design, copy, and marketing. Together, we decide the sandwich’s high-level components based on the product’s features, importance, and marketing strategy. Then the designer and copywriter pair to create the page.
        %figure.img-left
            %img.lazy{:data => {:srcset => "../images/sandwich-9a-500.jpg 500w, ../images/sandwich-9a-1000.jpg 1000w, ../images/sandwich-9a-2000.jpg 2000w", :sizes => "(max-width: 991px) 100vw, (max-width: 1439) 60vw, 850px", :src => "../images/sandwich-9a-1000.jpg"}, :alt => "A comp of the new Serta product detail page viewed at 1024px wide."}
            %figcaption.small
                %strong The Contrast Platform Bed. 
                This frame is one product that has used the new PDP template to design and launch the page faster.

    %section.summary
        %p.large The PDP sandwich template is now fully developed, integrated into our CMS, and rolled out to all product pages. Because of this, we can now launch product pages 80% faster! The consistent template also allows us to rapidly A/B test improvements to the pages. One such optimization &mdash; moving the product discovery section higher up on the PDPs &mdash; has had a $5,760,000 increase in yearly revenue alone. We’ve also increased one of our most important PDP’s conversion rate by 28.75% and subsequent revenue on that page by 33.22% YOY.

    %section.closing
        %hr
        %h6.s6 Thank Yous
        %p
            %strong Rachel Rose
            UX &amp; Visual Design
        %p
            %strong Breanne DeMore
            Copywriting
        %p
            %strong Dmitry Mardukhayev &amp; Jackson Hardaker
            Front-End Development
        %p
            %strong Eliza Marcum
            Back-End Development
        %p
            %strong Karla Boedeker
            Project Management
    

= partial "partials/more_work", :locals => {:prev_link => "serta.html", :prev_card_title => "A new direct-to-consumer priority for Serta", :prev_company_year => "Tuft & Needle / 2019", :prev_srcset => "../images/home-serta-140.jpg 140w, ../images/home-serta-280.jpg 280w", :prev_sizes => "140px", :prev_src => "../images/home-serta-280.jpg", :prev_alt => "A man and woman drinking wine on an iComfort mattress in a bedroom.", :next_link => "tn-rebrand.html", :next_card_title => "Workshop & refresh: the T&N brand", :next_company_year => "Tuft & Needle / 2017-2018", :next_srcset => "../images/home-tnbrand-140.jpg 140w, ../images/home-tnbrand-280.jpg 280w", :next_sizes => "140px", :next_src => "../images/home-tnbrand-280.jpg", :next_alt => "Team members sit in a circle to kickoff the brand refresh workshop."}


