---
title: A new direct-to-consumer priority for Serta
---

%header.work
    = partial "partials/nav"

    %section.hero
        %p Tuft & Needle / 2019
        %h1.s2 A new direct-to-consumer priority for Serta
        %img{:srcset => "../images/serta-1-500.jpg 500w, ../images/serta-1-1000.jpg 1000w, ../images/serta-1-1400.jpg 1400w, ../images/serta-1-2800.jpg 2800w", :sizes => "(max-width: 1400px) 100vw, 1400px", :src => "../images/serta-1-1400.jpg", :alt => "A man and woman drinking wine on an iComfort mattress in a bedroom"}

    %section.project-details
        .problem
            %h6.s6 Problem
            %p Traditional retail sales tactics were causing lackluster results in a competitive, modern ecommerce space.
        .result
            %h6.s6 Result
            %p A completely revamped ecommerce experience increased conversions by XX% while also increasing customer happiness.
        .role
            %h6.s6 My Role
            %p Strategy, Leadership, Creative Direction, UX Direction, Mentorship, Project Management
        %hr

%main.work
    %section.summary
        %p.large Tuft & Needle merged with Serta Simmons Bedding in 2018. One of the key objectives post-merger was the relaunch of a custom e-commerce site for Serta that would increase conversions and allow for future direct-to-consumer growth. The team was given 4 months to completely overhaul the Serta.com experience. 
        .img-2up
            %figure
                %figcaption.small 
                    %strong Old homepage
                %img{:srcset => "../images/serta-2a-500.jpg 500w, ../images/serta-2a-700.jpg 700w, ../images/serta-2a-1000.jpg 1000w, ../images/serta-2a-1400.jpg 1400w", :sizes => "(max-width: 1400px) 100vw, 700px", :src => "../images/serta-2a-700.jpg", :alt => "The old serta.com homepage"}
                %figcaption.small 
                    %strong The old homepage. 
                    Inconsistent styles and multiple, competing calls-to-action created a confusing, chaotic user experience.
            %figure
                %figcaption.small 
                    %strong New homepage
                %img{:srcset => "../images/serta-2b-500.jpg 500w, ../images/serta-2b-700.jpg 700w, ../images/serta-2b-1000.jpg 1000w, ../images/serta-2b-1400.jpg 1400w", :sizes => "(max-width: 1400px) 100vw, 700px", :src => "../images/serta-2b-700.jpg", :alt => "The new serta.com homepage after the redesign"}
                %figcaption.small 
                    %strong The new homepage. 
                    We wanted to simplify the homepage experience and focus on a clear, benefits-based information hierarchy.

    %section
        %h2.s4 Choosing a team with complementary strengths
        %p Given the workload and the pace, I chose 2 designers for the project who would compliment each other’s skill sets. While both had great UX and visual design skills, each had his/her own strengths. The timeline dictated that the work needed to be divided, but I established a process of pair-designing whenever possible and several weekly team check-ins to ensure seamless output. The pair functioned extremely well together, supporting and gut-checking each other when needed.
        %figure.img-1up
            %img{:srcset => "../images/serta-3-500.jpg 500w, ../images/serta-3-1000.jpg 1000w, ../images/serta-3-1400.jpg 1400w, ../images/serta-3-2800.jpg 2800w", :sizes => "(max-width: 1400px) 100vw, 1400px", :src => "../images/serta-3-1400.jpg", :alt => "A designer and copywriter laugh at some of their brainstorming sketches"}
            %figcaption.small
                %strong Dot voting to evaluate brainstorm ideas.

    %section
        %h2.s4 Gaining insights through UX research and site data
        %p Once the team was selected, the first step was analyzing site and audience data. We found that while Serta had a high volume of direct, unaided search traffic, website sales were disproportionately low. 
        %p The team also conducted 15 in-depth user studies on Serta.com. We wanted to understand current site behaviors and gain insights into what information was meaningful and what was superfluous. Our findings included:
        %ol
            %li Users were disoriented by the fact that most products were not available to purchase online. 
            %li Users were typically intimidated by the number of SKUs, however the “mattress finder” and comparison functions helped immensely in narrowing down options. 
            %li Several users had trouble finding key pieces of information or knowing “where to go next” A few users noted that the website was “cluttered”.
            %li Almost all users noted with positive or neutral sentiment the Serta Sheep that have been the brand mascot for 20 years. 

    %section
        %h2.s4 A design sprint to quickly align the team on the core UX of the site
        %p Once the initial research was complete, I lead the team in a 3-day multidisciplinary design sprint. We used our research and empathy-building techniques to keep our customers in mind as we laid out user stories, flows, site architecture, and initial wireframes. The team then fleshed out the initial wires into high fidelity wireframes and comps, getting approvals from the Serta brand team at each phase. 
        %figure.img-1up
            %img{:srcset => "../images/serta-4-500.jpg 500w, ../images/serta-4-1000.jpg 1000w, ../images/serta-4-1400.jpg 1400w, ../images/serta-4-2800.jpg 2800w", :sizes => "(max-width: 1400px) 100vw, 1400px", :src => "../images/serta-4-1400.jpg", :alt => "4 sheets of paper with brainstorm sketches and various colors of dot voting stickers"}
            %figcaption.small
                %strong Several sketches from our design sprint.

    %section
        %h2.s4 A tailored experience for two very different audiences
        %p Based on our analysis of traffic and user journeys, we hypothesized that the site audience mainly fell into two use cases: 
        %ol
            %li People in the early stages of mattress shopping, researching and classifying based on price, features, and brand
            %li People in a retail showroom trying to compare prices before making a purchase.
        %figure.img-1up
            %img{:srcset => "../images/serta-5-500.jpg 500w, ../images/serta-5-1000.jpg 1000w, ../images/serta-5-1400.jpg 1400w, ../images/serta-5-2800.jpg 2800w", :sizes => "(max-width: 1400px) 100vw, 1400px", :src => "../images/serta-5-1400.jpg", :alt => "The serta.com navigation drawer opens because the mouse is hovering over the mattresses link"}
            %figcaption.small
                %strong The top navigation bar on hover. 
                There is a clear deliniation between what can be purchased online versus in-store. 

    %section
        %h2.s4 Maximizing timelines & collaboration with an agile workflow
        %p.no-image At each phase of the project, design, copy, and engineering collaborated and worked in parallel. Design would hand off pages to engineering in the wireframe stage and then would go back to add refinement with the comps. This created a quick, iterative process that allowed all teams to maximize timelines.

    %section
        %h2.s4 Visual design: an overrun of sheep and blues
        %p One of the main challenges of the Serta site redesign was to reconcile the Sheep and the traditional “american pie” nature of the Serta brand with the elevated, high-tech luxury vibe of the iComfort line, their most popular and lucrative product suite. We felt that the sheep, while approachable and recognizable, did not help to evoke the feelings of the iComfort sub-brand. However the Serta team felt strongly that the sheep should be featured all over the site. We compromised by placing the sheep in one prominent location on the homepage to assist in brand recognition, and then in the footer and a few other secondary places where it wouldn’t distract from the content or flow. 
        %p Another major shift in the visual design was the addition of a new color to their brand palette. Before the redesign, the Serta color palette consisted of several blues and a yellow. These colors proved to be challenging when identifying a call-to-action color. The yellow was not accessible enough to be used as a standalone CTA color, and the blues didn’t stand out enough because they were so overused on the site. This effect was compounded by the fact that the Serta team had developed a photo style that relied heavily on blue. So the team set out to find a CTA color that would work well with the existing palette but also draw users’ eyes toward making a purchase.
        %figure.img-left
            %img{:srcset => "../images/serta-6-500.jpg 500w, ../images/serta-6-1000.jpg 1000w, ../images/serta-6-2000.jpg 2000w", :sizes => "(max-width: 991px) 100vw, (max-width: 1439) 60vw, 850px", :src => "../images/serta-6-1000.jpg", :alt => "A comp of the new Serta product detail page viewed at 1024px wide."}
            %figcaption.small
                %strong A product detail page. 
                A new, configurable product detail page that allows users to easily choose between benefits to find the right product for their sleeping styles. 

    %section
        %h2.s4 A new, rolling QA process
        %p We implemented a rolling QA process to help lessen the load of a large amount of QA at the end. Initially I was a little worried that this would mean double work for the design team, since as anything changes, you need to go back and re-check it. But it ended up keeping the QA load to a consistent, manageable level and allowed the teams to work concurrently and meet the deadline. This will definitely be a process that I use on future projects.
        %figure.img-right
            %figcaption.small
                %strong Checkout: delivery options. 
                We chose a stepped checkout approach that has been effective for Tuft & Needle. Using a similar design  means that we can easily make improvements across all brands based on new learnings. 
            %img{:srcset => "../images/serta-7-500.jpg 500w, ../images/serta-7-1000.jpg 1000w, ../images/serta-7-2000.jpg 2000w", :sizes => "(max-width: 991px) 100vw, (max-width: 1439) 60vw, 850px", :src => "../images/serta-7-1000.jpg", :alt => "A comp of the 3rd step of checkout on serta.com. This step collects delivery information."}

    %section
        %h2.s4 A photoshoot focused on the needs of a modern, responsive website
        %p The photography that the Serta team shot previously didn’t take into account things like responsiveness in a website hero. We also felt that the styling, lighting, and talent direction was not inline with the “elevated, high-tech luxury” vibe of the brand. So while the UX team worked through various use cases, I led the multimedia team in a photoshoot for the website and ad creative. We conducted a single day shoot in New York City. We’re currently testing the impact of the new photos in A/B tests on the site and in ads and early results are showing success.
        .img-sequence
            %figure.img-sequence-left
                %img{:srcset => "../images/serta-8a-500.jpg 500w, ../images/serta-8a-1000.jpg 1000w, ../images/serta-8a-2000.jpg 2000w", :sizes => "(max-width: 991px) 100vw, (max-width: 1439) 60vw, 850px", :src => "../images/serta-8a-1000.jpg", :alt => "A designer and copywriter laugh at some of their brainstorming sketches"}
            %figure.img-sequence-right
                %img{:srcset => "../images/serta-8b-500.jpg 500w, ../images/serta-8b-1000.jpg 1000w, ../images/serta-8b-2000.jpg 2000w", :sizes => "(max-width: 991px) 100vw, (max-width: 1439) 60vw, 850px", :src => "../images/serta-8b-1000.jpg", :alt => "A designer and copywriter laugh at some of their brainstorming sketches"}

    %section.summary
        %p.large The site launched on schedule on December 16. Since then, we’ve seen the conversion rate increase by ______%_ which has lead to an increased  _$_______ in gross revenue. 
        %p.large The benchmarking tests that we set up to run every month has shown a positive increase in customers’ experiences with the site. … visual design here too?

    %section.closing
        %hr
        %h6.s6 Thank Yous
        %p
            %strong Darin Barnes &amp; Rachel Rose
            UX &amp; Visual Design
        %p
            %strong Erin Cline &amp; Breanne DeMore
            Copywriting
        %p
            %strong Kyle Niemier &amp; Geoff Parker
            Production &amp; Photo Editing
        %p
            %strong Colin Darland &amp; Jackson Hardaker
            Front-End Development
        %p
            %strong Shay Arnett &amp; Jayson Virissimo
            Back-End Development
        %p
            %strong Anna Wolf
            Photography
    

= partial "partials/more_work", :locals => { :prev_card_title => "Inspiring change with design thinking workshops", :prev_company_year => "Ignite by Adecco / 2014", :prev_srcset => "../images/home-catalyst-140.jpg 140w, ../images/home-catalyst-280.jpg 280w", :prev_sizes => "140px", :prev_src => "../images/home-catalyst-280.jpg", :prev_alt => "Workshop participants rush to the whiteboard for an ideation exercise.", :next_card_title => "Workshop & refresh: the T&N brand", :next_company_year => "Tuft & Needle / 2017-2018", :next_srcset => "../images/home-tnbrand-140.jpg 140w, ../images/home-tnbrand-280.jpg 280w", :next_sizes => "140px", :next_src => "../images/home-tnbrand-280.jpg", :next_alt => "Team members sit in a circle to kickoff the brand refresh workshop." }


