---
title: Workshop & refresh: the T&N brand
---

%header.work
    = partial "partials/nav"

    %section.hero
        %p Tuft & Needle / 2017&ndash;2018
        %h1.s2 Workshop & refresh: the T&N brand
        %img{:srcset => "../images/tnrebrand-1a-500.jpg 500w, ../images/tnbrand-1a-1000.jpg 1000w, ../images/tnbrand-1a-1400.jpg 1400w, ../images/tnbrand-1a-2800.jpg 2800w", :sizes => "(max-width: 1400px) 100vw, 1400px", :src => "../images/tnbrand-1a-1400.jpg", :alt => "Team members sit in a circle to kickoff the brand refresh workshop"}

    %section.project-details
        .problem
            %h6.s6 Problem
            %p The existing brand was inconsistent across channels, potentially limiting our audience, and not representative of the company’s evolved personality.
        .result
            %h6.s6 Result
            %p With a refreshed, cohesive brand, T&N began attracting a new audience while still maintaining existing customer love.
        .role
            %h6.s6 My Role
            %p Strategy, Leadership, Facilitation, Creative Direction, User Research, Mentorship, Project Management
        %hr

%main.work
    %section.summary
        %p.large After five years of working fast and bootstrapped, the Tuft & Needle brand had become splintered across its various channels. The company had also grown beyond its early startup mentality and audience. We needed a refresh that would better attract new customers and align with the company’s evolved ethos. 

    %section
        %h2.s4 Building personas from research and analytics data
        %p In 2017, we began a research project to understand our customers and categorize them into persona groups. The team conducted 20 in-depth interviews with our customers and cross-referenced findings with quantitative data from Google Analytics and Facebook. Four persona groups emerged: Practical Shoppers, Fast Track Couples/Young Families, Empty Nesters, and Sensory Shoppers.
        %figure.img-1up
            %img.lazy{:data => {:srcset => "../images/tnbrand-2a-500.jpg 500w, ../images/tnbrand-2a-1000.jpg 1000w, ../images/tnbrand-2a-1400.jpg 1400w, ../images/tnbrand-2a-2800.jpg 2800w", :sizes => "(max-width: 1400px) 100vw, 1400px", :src => "../images/tnbrand-2a-1400.jpg"}, :alt => "A sheet for one of our personas: the fast-track couple"}
            %figcaption.small
                %strong One of our original personas. 
                Brand affinities and demographic data was pulled from Facebook and Google Analytics. Behaviors were gathered during in-depth user interviews. 

    %section
        %h2.s4 Determining the workshop structure
        %p.no-image My colleague and I worked closely to develop an agenda that would educate participants on human-centered design, allow multidisciplinary thought to flourish, and create inspired yet actionable insights. We decided to break the ideation into two parts: a branding workshop and an e-commerce workshop, containing people from various disciplines. 

    %section
        %h2.s4 Audience, audit, and the competitive landscape: the makings of a branding workshop
        %h3.s5.begin-subsection Aligning on our personas
        %p First, we focused on our audience. We shared the persona work and analytics data with the group. Using empathy mapping and other design thinking exercises, participants sought to put themselves in the mental “shoes” of each persona. 
        %figure.img-left
            %img.lazy{:data => {:srcset => "../images/tnbrand-3a-500.jpg 500w, ../images/tnbrand-3a-1000.jpg 1000w, ../images/tnbrand-3a-2000.jpg 2000w", :sizes => "(max-width: 991px) 100vw, (max-width: 1439) 60vw, 850px", :src => "../images/tnbrand-3a-1000.jpg"}, :alt => "A large piece of paper divided into quadrants with lots of sticky notes on it."}
            %figcaption.small
                %strong An empathy map. 
                Workshop groups brainstormed what a persona might be thinking, saying, feeling, and doing relative to sleep and buying a new mattress.
        %h3.s5.begin-subsection A comprehensive audit
        %p To kick off the audit, we pulled samples from every instance of the brand and hung them on the wall. With sticky notes in hand, participants then analyzed the output for strengths, weaknesses, inconsistencies, and gaps.  
        %figure.img-1up
            %img.lazy{:data => {:srcset => "../images/tnbrand-5a-500.jpg 500w, ../images/tnbrand-5a-1000.jpg 1000w, ../images/tnbrand-5a-1400.jpg 1400w, ../images/tnbrand-5a-2800.jpg 2800w", :sizes => "(max-width: 1400px) 100vw, 1400px", :src => "../images/tnbrand-5a-1400.jpg"}, :alt => "A teammate talks through his thoughts on what might be resonating with one of our personas."}
            %figcaption.small
                %strong It’s all about our customers. 
                Questions like “what is resonating with this person?” and “what questions might they have?” unearthed missing or unclear content. 
        %h3.s5.begin-subsection Understanding the landscape
        %p A brand map helped us identify where we sit amongst competitors regarding quality and price, two primary attributes for our brand. This exercise helped us better understand the competitive landscape and identify holes where we might gain an advantage. 
        %figure.img-left
            %img.lazy{:data => {:srcset => "../images/tnbrand-7a-500.jpg 500w, ../images/tnbrand-7a-1000.jpg 1000w, ../images/tnbrand-7a-2000.jpg 2000w", :sizes => "(max-width: 991px) 100vw, (max-width: 1439) 60vw, 850px", :src => "../images/tnbrand-7a-1000.jpg"}, :alt => "A giant piece of paper divided into 4 quadrants. The x-axis is price. The y-axis is quality. Various brands are mapped along the axes."}
            %figcaption.small
                %strong The completed brand map. 
                It was interesting to see that companies generally adhered to a direct correlation between quality and price. The outliers, particularly in the upper left quadrant, were especially interesting. What could we learn from these companies?
        %h3.s5.begin-subsection Making it visual
        %p.no-image Finally, we divided the group into teams and gave each one a large handful of typography, color, illustration, photography, and messaging samples. Each group created a mood board of the pieces that they felt would resonate with their persona. These mood boards established the starting point for the visual changes to the brand.

    %section
        %h2.s4 A digital workshop of journeys, debt, and how-might-we’s
        %p We kicked off the digital workshop with a review of the audit. We then completed SWOT analyses for our main competitors and made a list of our design and tech debt. 
        %figure.img-1up
            %img.lazy{:data => {:srcset => "../images/tnbrand-9a-500.jpg 500w, ../images/tnbrand-9a-1000.jpg 1000w, ../images/tnbrand-9a-1400.jpg 1400w, ../images/tnbrand-9a-2800.jpg 2800w", :sizes => "(max-width: 1400px) 100vw, 1400px", :src => "../images/tnbrand-9a-1400.jpg"}, :alt => "A teammate explains the sticky notes that she's added around tech debt."}
            %figcaption.small
                %strong Viewing competitors through the eyes of our personas. 
        %h3.s5.begin-subsection Exploring customer journeys
        %p To identify potential journeys, each group ideated on their persona’s motivations for why they might want a new mattress. From these entry channels, the groups mapped out their personas’ journeys through our site. Finally, they identified issues and information gaps in the flows.
        %figure.img-1up
            %img.lazy{:data => {:srcset => "../images/tnbrand-10a-500.jpg 500w, ../images/tnbrand-10a-1000.jpg 1000w, ../images/tnbrand-10a-1400.jpg 1400w, ../images/tnbrand-10a-2800.jpg 2800w", :sizes => "(max-width: 1400px) 100vw, 1400px", :src => "../images/tnbrand-10a-1400.jpg"}, :alt => "A customer journey mapped our for one of our personas. It also indicates potential motivations and entry points."}
            %figcaption.small
                %strong A customer journey. 
                Starting from the trigger to buy a new mattress gave rich context that informed how the user might traverse through the site based on their needs.
        %p.subsection-no-header We then moved on to my favorite part: a “How Might We” (HMW) brainstorming session on what initiatives might differentiate us from competitors, increase sales, build brand love, and gain efficiencies for future iterations.  
        %figure.img-1up
            %img.lazy{:data => {:srcset => "../images/tnbrand-11a-500.jpg 500w, ../images/tnbrand-11a-1000.jpg 1000w, ../images/tnbrand-11a-1400.jpg 1400w, ../images/tnbrand-11a-2800.jpg 2800w", :sizes => "(max-width: 1400px) 100vw, 1400px", :src => "../images/tnbrand-11a-1400.jpg"}, :alt => "A bunch of sticky notes from a how-might-we ideation session."}
            %figcaption.small
                %strong How-might-we ideation. 
                This is always my favorite part of any workshop. I love the blue sky thinking and being able to consider all possibilities, even the crazy ones. One of my favorite prompts here is to “come up with a terrible way to solve this problem.” You then have participants turn their terrible ideas into good ideas. Many times it unearths things you may not have considered before.
        %h3.s5.begin-subsection Prioritizing with an Eisenhower matrix
        %p The last day of the digital workshop was spent evaluating the ideas. We mapped the final contenders on an Eisenhower matrix to identify which ones had the most potential. These were then roadmapped in the next quarterly planning session.
        %figure.img-1up
            %img.lazy{:data => {:srcset => "../images/tnbrand-18a-500.png 500w, ../images/tnbrand-18a-1000.png 1000w, ../images/tnbrand-18a-1400.png 1400w, ../images/tnbrand-18a-2800.png 2800w", :sizes => "(max-width: 1400px) 100vw, 1400px", :src => "../images/tnbrand-18a-1400.png"}, :alt => "A bunch of sticky notes from a how-might-we ideation session."}
            %figcaption.small
                %strong Eisenhower matrix. 
                We measured the top ideas on effort and impact.
    
    %section
        %h2.s4 The next iteration of our brand emerges
        %p Over the next six months, the team implemented these updates to the brand. While we decided not to touch the logo, the refresh included new typography, expansion of the color palette, a fresh photography style, and a more comprehensive UI library. 
        %h3.s5.begin-subsection Typefaces with more personality
        %p Before the rebrand, the Tuft & Needle typography consisted mostly of Avenir with a little Trade Gothic peppered in. While these faces are very legible workhorses, they lacked personality and approachability. We chose Tiempos and Apercu instead. Tiempos, used for main headlines, provided a refreshing friendliness to the brand. Apercu, while modern and versatile like Avenir, added humanness with its subtle curves.
        %figure.img-1up
            %img.lazy{:data => {:srcset => "../images/tnbrand-12a-500.jpg 500w, ../images/tnbrand-12a-1000.jpg 1000w, ../images/tnbrand-12a-1400.jpg 1400w, ../images/tnbrand-12a-2800.jpg 2800w", :sizes => "(max-width: 1400px) 100vw, 1400px", :src => "../images/tnbrand-12a-1400.jpg"}, :alt => "A page showing how our type styles might be used to communicate together. It includes Tiempos, our big impact headline font, and Apercu, our workhorse san serif."}
            %figcaption.small
                %strong A page with type samples from our 2018 brand guidelines. 
        %h3.s5.begin-subsection An expanded color palette
        %p Tuft & Needle’s minimal color palette consisted of the T&N Mint and several shades of gray. By adding muted secondary colors, we helped warm and soften the brand, making it more appealing to our diverse audience. 
        %figure.img-1up
            %img.lazy{:data => {:srcset => "../images/tnbrand-13a-500.png 500w, ../images/tnbrand-13a-1000.png 1000w, ../images/tnbrand-13a-1400.png 1400w, ../images/tnbrand-13a-2800.png 2800w", :sizes => "(max-width: 1400px) 100vw, 1400px", :src => "../images/tnbrand-13a-1400.png"}, :alt => "A sheet from our brand book establishing our main brand colors and their pantones and other color values."}
            %img.lazy{:data => {:srcset => "../images/tnbrand-13b-500.jpg 500w, ../images/tnbrand-13b-1000.jpg 1000w, ../images/tnbrand-13b-1400.jpg 1400w, ../images/tnbrand-13b-2800.jpg 2800w", :sizes => "(max-width: 1400px) 100vw, 1400px", :src => "../images/tnbrand-13b-1400.jpg"}, :alt => "A page that shows the suggested proportion of use of our color palette."}
            %figcaption.small
                %strong Some color pages from our 2018 brand guidelines. 
        %h3.s5.begin-subsection Photography that is aspirational yet approachable
        %p Above all, we wanted the new photography to feel real, lived-in, and comfortable. This meant choosing real home locations with lots of texture and architectural detail, better casting for on-camera chemistry, more candid talent direction, and triple washing all linens before the shoot to give them a natural, broken-in look.  This approach was in stark contrast to T&N’s previous style, which focused on almost other-worldly perfection with floating drop shadows and texture dutifully photoshopped out. 
        .img-2up
            %figure
                %figcaption.small 
                    %strong Old product shot
                %img.lazy{:data => {:srcset => "../images/tnbrand-14a-500.jpg 500w, ../images/tnbrand-14a-800.jpg 800w, ../images/tnbrand-14a-1000.jpg 1000w, ../images/tnbrand-14a-1600.jpg 1600w", :sizes => "(max-width: 767px) 100vw, 50vw", :src => "../images/tnbrand-14a-800.jpg"}, :alt => "An old-style product photo that features the product flawlessly floating in space."}
            %figure
                %figcaption.small 
                    %strong New product shot
                %img.lazy{:data => {:srcset => "../images/tnbrand-14b-500.jpg 500w, ../images/tnbrand-14b-800.jpg 800w, ../images/tnbrand-14b-1000.jpg 1000w, ../images/tnbrand-14b-1600.jpg 1600w", :sizes => "(max-width: 767px) 100vw, 50vw", :src => "../images/tnbrand-14b-800.jpg"}, :alt => "Our new product photography takes a more real approach. The mattress is presented on a white frame in a real room with a horizon line."}
        .img-2up
            %figure
                %figcaption.small 
                    %strong Old lifestyle shot
                %img.lazy{:data => {:srcset => "../images/tnbrand-15a-500.jpg 500w, ../images/tnbrand-15a-800.jpg 800w, ../images/tnbrand-15a-1000.jpg 1000w, ../images/tnbrand-15a-1600.jpg 1600w", :sizes => "(max-width: 767px) 100vw, 50vw", :src => "../images/tnbrand-15a-800.jpg"}, :alt => "On old-style lifestyle image of a woman on bed in a stark loft space. The mattress sits on the floor."}
            %figure
                %figcaption.small 
                    %strong New lifestyle shot
                %img.lazy{:data => {:srcset => "../images/tnbrand-15b-500.jpg 500w, ../images/tnbrand-15b-800.jpg 800w, ../images/tnbrand-15b-1000.jpg 1000w, ../images/tnbrand-15b-1600.jpg 1600w", :sizes => "(max-width: 767px) 100vw, 50vw", :src => "../images/tnbrand-15b-800.jpg"}, :alt => "A new-style lifestyle image in a warm, lived-in space. A couple lies on the bed reading and laughing."}
        .img-sequence.repeatable.new-image-subsection
            %figure.img-sequence-right
                %figcaption.small
                    %strong Other photography examples. 
                    Since the rebrand, I’ve directed several major shoots. We typically do three major lifestlye shoots a year and several smaller studio shoots as needs arise. 
                %img.lazy{:data => {:srcset => "../images/tnbrand-16a-500.jpg 500w, ../images/tnbrand-16a-1000.jpg 1000w, ../images/tnbrand-16a-2000.jpg 2000w", :sizes => "(max-width: 991px) 100vw, (max-width: 1439) 60vw, 850px", :src => "../images/tnbrand-16a-1000.jpg"}, :alt => "An overhead shot of a couple sleeping in bed."}
            %figure.img-sequence-left
                %img.lazy{:data => {:srcset => "../images/tnbrand-16b-500.jpg 500w, ../images/tnbrand-16b-1000.jpg 1000w, ../images/tnbrand-16b-2000.jpg 2000w", :sizes => "(max-width: 991px) 100vw, (max-width: 1439) 60vw, 850px", :src => "../images/tnbrand-16b-1000.jpg"}, :alt => "A closeup shot of our linen sheets in charcoal."}
            %figure.img-sequence-right
                %img.lazy{:data => {:srcset => "../images/tnbrand-16c-500.jpg 500w, ../images/tnbrand-16c-1000.jpg 1000w, ../images/tnbrand-16c-2000.jpg 2000w", :sizes => "(max-width: 991px) 100vw, (max-width: 1439) 60vw, 850px", :src => "../images/tnbrand-16c-1000.jpg"}, :alt => "A little girl plays with her toys scattered around the T&N pouch."}
            %figure.img-sequence-left
                %img.lazy{:data => {:srcset => "../images/tnbrand-16d-500.jpg 500w, ../images/tnbrand-16d-1000.jpg 1000w, ../images/tnbrand-16d-2000.jpg 2000w", :sizes => "(max-width: 991px) 100vw, (max-width: 1439) 60vw, 850px", :src => "../images/tnbrand-16d-1000.jpg"}, :alt => "A side shot of a cozy made bed with white linen sheets and duvet cover."}

    %section
        %h2.s4 A new UI library and many customer-driven features deployed
        %p The digital workshop updates took longer to roll out. We overhauled our UI library and launched several significant initiatives: third-party-validated reviews, cross-sell and product discovery, an updated email marketing strategy, easy-pay options, personalized content, several brand-building partnerships, and user accounts. There are still more projects waiting to be prioritized in 2020. Still, considering the enormity of the tasks and the other priorities that keep getting added, I’m thrilled with what the team has achieved. 
        %figure.img-1up
            %img.lazy{:data => {:srcset => "../images/tnbrand-17a-500.jpg 500w, ../images/tnbrand-17a-1000.jpg 1000w, ../images/tnbrand-17a-1400.jpg 1400w, ../images/tnbrand-17a-2800.jpg 2800w", :sizes => "(max-width: 1400px) 100vw, 1400px", :src => "../images/tnbrand-17a-1400.jpg"}, :alt => "A screenshot of part of our UI library. Multiple UI components are laid out in various states."}
            %figcaption.small
                %strong Part of our new design system.

    %section.summary
        %p.large Due to the rolling nature of the brand updates and many other initiatives happening at once, it’s hard to put firm numbers to the rebrand success. However, in general, we’ve seen a significant increase in traffic, lower bounce rates, and longer time on site. Brand studies and user research have revealed positive sentiment toward the brand across various audiences.

    %section.closing
        %hr
        %h6.s6 Thank Yous
        %p
            %strong Sean Tucker
            Visual Design &amp; Facilitation
        %p
            %strong Darin Barnes
            UI Kit Design
        %p
            %strong 
                The Design Team
            Workshop Prep &amp; Participation,
            %br
            UX &amp; Visual Design
        %p
            %strong 
                Breanne DeMore &amp; Shelly Weaver
            Workshop Prep &amp; Participation,
            %br
            Copywriting
        %p
            %strong Kyle Niemier &amp; Geoff Parker
            Production &amp; Photo Editing
        %p
            %strong Anna Wolf
            Photography
    

= partial "partials/more_work", :locals => {:prev_link => "pdp-sandwich.html", :prev_card_title => "I’ll take my product page with mayo, please", :prev_company_year => "Tuft & Needle / 2019", :prev_srcset => "../images/home-sandwich-140.jpg 140w, ../images/home-sandwich-280.jpg 280w", :prev_sizes => "140px", :prev_src => "../images/home-sandwich-280.jpg", :prev_alt => "Part of the T&N Original Mattress product page special sauce section", :next_link => "cxtxmx.html", :next_card_title => "Overhauling our CX admin app", :next_company_year => "Tuft & Needle / 2016", :next_srcset => "../images/home-cxtxmx-140.jpg 140w, ../images/home-cxtxmx-280.jpg 280w", :next_sizes => "140px", :next_src => "../images/home-cxtxmx-280.jpg", :next_alt => "A color gradient overlaying a photo of a taco."}

