---
title: Wayfind: building a career-pathing app
---

%header.work
    = partial "partials/nav"

    %section.hero
        %p Ignite by Adecco / 2015
        %h1.s2 Wayfind: building a career-pathing app
        %img{:srcset => "../images/wayfind-1a-500.jpg 500w, ../images/wayfind-1a-1000.jpg 1000w, ../images/wayfind-1a-1400.jpg 1400w, ../images/wayfind-1a-2800.jpg 2800w", :sizes => "(max-width: 1400px) 100vw, 1400px", :src => "../images/wayfind-1a-1400.jpg", :alt => "An illustration of two characters looking up at the stars. The Wayfind logo sits in the sky."}

    %section.project-details
        .problem
            %h6.s6 Problem
            %p Employees at enterprise-level companies were having trouble understanding what career options were available to them. This was leading to employee frustration and higher attrition levels.
        .result
            %h6.s6 Result
            %p We built and launched Wayfind, an app to help employees map out a career path at their company. At the time of my leaving, Wayfind was being piloted with a few Adecco enterprise-level clients.
        .role
            %h6.s6 My Role
            %p Strategy, Facilitation, UX Design, Visual Design, User Research, Front-End Development
        %hr

%main.work
    %section.summary
        %p.large One of the many ideas born from our team at Ignite by Adecco was Wayfind, an app to help employees discover career opportunities at their company. Once a role was selected, the app would help them explore various paths to reach their desired destination.

    %section
        %h2.s4 Need headline
        %p Functioning in 1-week sprints, we conducted user interviews, built prototypes, and ran experiments to test various unknowns. The main questions we were looking to address in this initial discovery phase were:
        %ol
            %li Problem validation: Is this really a problem for employees of big companies?
            %li Onboarding: Can we get the information we need to provide meaningful recommendations without losing people in the process?
            %li Email engagement: Can we entice employees to take action from an HR email?
            %li Sales: Is our product appealing to HR executives?
        %p We received a strong enough signal from each of these tests to move forward with the next phase of product development.
        %figure.img-left
            %img{:srcset => "../images/wayfind-2a-500.jpg 500w, ../images/wayfind-2a-1000.jpg 1000w, ../images/wayfind-2a-2000.jpg 2000w", :sizes => "(max-width: 991px) 100vw, (max-width: 1439) 60vw, 850px", :src => "../images/wayfind-2a-1000.jpg", :alt => "A comp of the Wayfind jobs directory"}
            %figcaption.small
                %strong Smart career recommendations.
                We are currently rolling out the third iteration of Wayfind. After completing a short onboarding process, users are given career recommendations based on their personality, background, and areas of interest. 
                %br
                %br
                Each role card is scored relative to the user's personality, education, experience, and skills.
        %figure.img-right
            %figcaption.small
                %strong The whole picture.
                Clicking on a role card reveals more information about the role as well as an in-depth score breakdown and possible career paths. We want to give the user enough data to determine if this role is a potential fit for them, now or in the future. Breaking the score into intrinsic and extrinsic measures gives the user a more realistic sense of their compatibility with a role regardless of readiness. We want people thinking not only about their next job, but about planning their future career path as well.  
            %img{:srcset => "../images/wayfind-3a-500.jpg 500w, ../images/wayfind-3a-1000.jpg 1000w, ../images/wayfind-3a-2000.jpg 2000w", :sizes => "(max-width: 991px) 100vw, (max-width: 1439) 60vw, 850px", :src => "../images/wayfind-3a-1000.jpg", :alt => "A comp of the job detail page"}
        %figure.img-left
            %img{:srcset => "../images/wayfind-4a-500.jpg 500w, ../images/wayfind-4a-1000.jpg 1000w, ../images/wayfind-4a-2000.jpg 2000w", :sizes => "(max-width: 991px) 100vw, (max-width: 1439) 60vw, 850px", :src => "../images/wayfind-4a-1000.jpg", :alt => "A comp of the career-pathing part of the app"}
            %figcaption.small
                %strong From A to B.
                Once a user has identified a role that they like, Wayfind will walk them through the process of creating a plan to get there.

    %section.summary
        %p.large STILL NEED!! 

    %section.closing
        %hr
        %h6.s6 Thank Yous
        %p
            %strong Danilo Quilaton &amp; Jason Kellum
            UX, Visual Design &amp; Front-End Development
        %p
            %strong Ian Fiske
            Data Science &amp; Strategy
        %p
            %strong Mark Montroy
            Full Stack Development
        %p
            %strong Sean Paley
            Product Management &amp; Strategy
    

= partial "partials/more_work", :locals => { :prev_card_title => "Left Side A new PDP template", :prev_company_year => "Tuft & Needle / 2019", :prev_img_link => "https://via.placeholder.com/120x120", :next_card_title => "Right Side A new PDP template", :next_company_year => "Tuft & Needle / 2019", :next_img_link => "https://via.placeholder.com/120x120" }