
//============================
// Fonts
//============================
@font-face {
    font-family: 'Canela Web';
    src: url('fonts/Canela-Regular-Web.woff2') format('woff2'),
         url('fonts/Canela-Regular-Web.woff') format('woff');
    font-weight:  400;
    font-style:   normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'TT Commons Bold';
    src: url('fonts/tt_commons_bold-webfont.woff2') format('woff2'),
         url('fonts/tt_commons_bold-webfont.woff') format('woff');
    font-weight:  700;
    font-style:   normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'TT Commons Regular';
    src: url('fonts/tt_commons_book-webfont.woff2') format('woff2'),
         url('fonts/tt_commons_book-webfont.woff') format('woff');
    font-weight:  400;
    font-style:   normal;
    font-stretch: normal;
}

//============================
// Media Queries
//============================

$mq-mobile: "screen and (min-width: 480px)" !default;
$mq-tablet: "screen and (min-width: 768px)" !default;
$mq-desktop: "screen and (min-width: 992px)" !default;
$mq-lgdesktop: "screen and (min-width: 1200px)" !default;
$mq-xldesktop: "screen and (min-width: 1440px)" !default;
$mq-xxldesktop: "screen and (min-width: 1920px)" !default;

//============================
// Global Colors
//============================

$background: #FFF6ED !default;
$primary-color: #2B2823 !default;
$secondary-color: #395DE3 !default;
$accent-color: #F3D170 !default;
$alternate-background: white !default;
$link-color: $primary-color !default;
$link-hover-color: $secondary-color !default;
// $highlight                : #ffeea8                                    !default;
// $error                    : #D33C40                                    !default;
// $success                  : #29de7d                                    !default;
// $bq-border                : 16px solid #f0f0f0                         !default;

//============================
// Typography
//============================

// Body
$body-size: 18px !default;
$body-line-height: 28px !default;

$body-large-size: 22px !default;
$body-large-line-height: 32px !default;

$body-small-size: 16px !default;
$body-small-line-height: 24px !default;

$font-style: normal !default;
$font-variant: normal !default;
$font-weight: 400 !default;
$font-color: $primary-color !default;
$font-family: 'TT Commons Regular', Helvetica Neue, Helvetica, Arial, sans-serif !default;
$font-family-bold: 'TT Commons Bold', Helvetica Neue, Helvetica, Arial, sans-serif !default;

// Headings
$heading-font-weight: 400 !default;
$heading-font-family: 'Canela Web', Georgia, serif !default;


//============================
// Spacing
//============================

$padding                  : 1rem                                        !default;
$margins                  : 1.5rem                                      !default;
$content-padding          : 60px 0                                      !default;
$content-padding-mobile   : 30px 0                                      !default;

//============================
// Borders
//============================

$border-width             : 1px                                        !default;
$border-style             : solid                                      !default;
$border-color             : #dedede                                  !default;
$border-radius            : 4px                                        !default;
$borders                  : $border-width $border-style $border-color  !default;

//============================
// Buttons
//============================

$button-background        : $primary-color                             !default;
$button-background-hover  : $secondary-color                           !default;
$button-color             : #ffffff                                  !default;
$button-font-weight       : 600                                        !default;
$button-font-family       : -apple-system, 
                            BlinkMacSystemFont, 
                            Helvetica Neue, 
                            Helvetica, 
                            Arial, 
                            sans-serif                                 !default;
$button-font-size         : 1rem                                       !default;
$button-border-width      : 1px                                        !default;
$button-border-style      : solid                                      !default;
$button-border-color      : $button-background                         !default;
$button-border-radius     : $border-radius                             !default;
$button-text-transform    : none                                       !default;
