---
title: All experiences
---

%header.all
    = partial "partials/nav"

    %section.hero
        %h1.s1 Experiences

%main
    %section.all
        .card-container
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2020 &mdash; FEB
                        %p At the beginning of the year, I led a 2-day ideation session to bring together a cross-functional team focused on growing the company.
                    %img{:srcset => "../images/home-ex-2002-3-400.jpg 400w, ../images/home-ex-2002-3-600.jpg 600w, ../images/home-ex-2002-3-900.jpg 900w, ../images/home-ex-2002-3-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-2002-3-600.jpg", :alt => "4 sheets of paper with sketches of various forms of apples."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2017 &mdash; JUL 22
                        %p I'm honored to be serving as AIGA Jacksonville's president as for the next 2 years. Getting to work alongside this great crew is the best part.
                    %img{:srcset => "../images/home-ex-2002-2-400.jpg 400w, ../images/home-ex-2002-2-600.jpg 600w, ../images/home-ex-2002-2-900.jpg 900w, ../images/home-ex-2002-2-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-2002-2-600.jpg", :alt => "4 sheets of paper with sketches of various forms of apples."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2017 &mdash; JUL 22
                        %p I'm honored to be serving as AIGA Jacksonville's president as for the next 2 years. Getting to work alongside this great crew is the best part.
                    %img{:srcset => "../images/home-ex-2002-1-400.jpg 400w, ../images/home-ex-2002-1-600.jpg 600w, ../images/home-ex-2002-1-900.jpg 900w, ../images/home-ex-2002-1-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-2002-1-600.jpg", :alt => "4 sheets of paper with sketches of various forms of apples."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2017 &mdash; JUL 22
                        %p I'm honored to be serving as AIGA Jacksonville's president as for the next 2 years. Getting to work alongside this great crew is the best part.
                    %img{:srcset => "../images/home-ex-1912-3-400.jpg 400w, ../images/home-ex-1912-3-600.jpg 600w, ../images/home-ex-1912-3-900.jpg 900w, ../images/home-ex-1912-3-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1912-3-600.jpg", :alt => "4 sheets of paper with sketches of various forms of apples."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2017 &mdash; JUL 22
                        %p I'm honored to be serving as AIGA Jacksonville's president as for the next 2 years. Getting to work alongside this great crew is the best part.
                    %img{:srcset => "../images/home-ex-1912-2-400.jpg 400w, ../images/home-ex-1912-2-600.jpg 600w, ../images/home-ex-1912-2-900.jpg 900w, ../images/home-ex-1912-2-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1912-2-600.jpg", :alt => "4 sheets of paper with sketches of various forms of apples."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2017 &mdash; JUL 22
                        %p I'm honored to be serving as AIGA Jacksonville's president as for the next 2 years. Getting to work alongside this great crew is the best part.
                    %img{:srcset => "../images/home-ex-1912-1-400.jpg 400w, ../images/home-ex-1912-1-600.jpg 600w, ../images/home-ex-1912-1-900.jpg 900w, ../images/home-ex-1912-1-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1912-1-600.jpg", :alt => "4 sheets of paper with sketches of various forms of apples."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2017 &mdash; JUL 22
                        %p I'm honored to be serving as AIGA Jacksonville's president as for the next 2 years. Getting to work alongside this great crew is the best part.
                    %img{:srcset => "../images/home-ex-1911-2-400.jpg 400w, ../images/home-ex-1911-2-600.jpg 600w, ../images/home-ex-1911-2-900.jpg 900w, ../images/home-ex-1911-2-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1911-2-600.jpg", :alt => "4 sheets of paper with sketches of various forms of apples."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2017 &mdash; JUL 22
                        %p I'm honored to be serving as AIGA Jacksonville's president as for the next 2 years. Getting to work alongside this great crew is the best part.
                    %img{:srcset => "../images/home-ex-1911-1-400.jpg 400w, ../images/home-ex-1911-1-600.jpg 600w, ../images/home-ex-1911-1-900.jpg 900w, ../images/home-ex-1911-1-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1911-1-600.jpg", :alt => "4 sheets of paper with sketches of various forms of apples."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2017 &mdash; JUL 22
                        %p I'm honored to be serving as AIGA Jacksonville's president as for the next 2 years. Getting to work alongside this great crew is the best part.
                    %img{:srcset => "../images/home-ex-1910-2-400.jpg 400w, ../images/home-ex-1910-2-600.jpg 600w, ../images/home-ex-1910-2-900.jpg 900w, ../images/home-ex-1910-2-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1910-2-600.jpg", :alt => "4 sheets of paper with sketches of various forms of apples."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2017 &mdash; JUL 22
                        %p I'm honored to be serving as AIGA Jacksonville's president as for the next 2 years. Getting to work alongside this great crew is the best part.
                    %img{:srcset => "../images/home-ex-1910-1-400.jpg 400w, ../images/home-ex-1910-1-600.jpg 600w, ../images/home-ex-1910-1-900.jpg 900w, ../images/home-ex-1910-1-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1910-1-600.jpg", :alt => "4 sheets of paper with sketches of various forms of apples."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2017 &mdash; JUL 22
                        %p I'm honored to be serving as AIGA Jacksonville's president as for the next 2 years. Getting to work alongside this great crew is the best part.
                    %img{:srcset => "../images/home-ex-1909-400.jpg 400w, ../images/home-ex-1909-600.jpg 600w, ../images/home-ex-1909-900.jpg 900w, ../images/home-ex-1909-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1909-600.jpg", :alt => "4 sheets of paper with sketches of various forms of apples."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2017 &mdash; JUL 22
                        %p I'm honored to be serving as AIGA Jacksonville's president as for the next 2 years. Getting to work alongside this great crew is the best part.
                    %img{:srcset => "../images/home-ex-1908-400.jpg 400w, ../images/home-ex-1908-600.jpg 600w, ../images/home-ex-1908-900.jpg 900w, ../images/home-ex-1908-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1908-600.jpg", :alt => "4 sheets of paper with sketches of various forms of apples."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2017 &mdash; JUL 22
                        %p I'm honored to be serving as AIGA Jacksonville's president as for the next 2 years. Getting to work alongside this great crew is the best part.
                    %img{:srcset => "../images/home-ex-1905-3-400.jpg 400w, ../images/home-ex-1905-3-600.jpg 600w, ../images/home-ex-1905-3-900.jpg 900w, ../images/home-ex-1905-3-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1905-3-600.jpg", :alt => "4 sheets of paper with sketches of various forms of apples."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2017 &mdash; JUL 22
                        %p I'm honored to be serving as AIGA Jacksonville's president as for the next 2 years. Getting to work alongside this great crew is the best part.
                    %img{:srcset => "../images/home-ex-1905-2-400.jpg 400w, ../images/home-ex-1905-2-600.jpg 600w, ../images/home-ex-1905-2-900.jpg 900w, ../images/home-ex-1905-2-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1905-2-600.jpg", :alt => "4 sheets of paper with sketches of various forms of apples."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2017 &mdash; JUL 22
                        %p I'm honored to be serving as AIGA Jacksonville's president as for the next 2 years. Getting to work alongside this great crew is the best part.
                    %img{:srcset => "../images/home-ex-1905-1-400.jpg 400w, ../images/home-ex-1905-1-600.jpg 600w, ../images/home-ex-1905-1-900.jpg 900w, ../images/home-ex-1905-1-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1905-1-600.jpg", :alt => "4 sheets of paper with sketches of various forms of apples."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2017 &mdash; JUL 22
                        %p I'm honored to be serving as AIGA Jacksonville's president as for the next 2 years. Getting to work alongside this great crew is the best part.
                    %img{:srcset => "../images/home-ex-1904-400.jpg 400w, ../images/home-ex-1904-600.jpg 600w, ../images/home-ex-1904-900.jpg 900w, ../images/home-ex-1904-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1904-600.jpg", :alt => "4 sheets of paper with sketches of various forms of apples."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2017 &mdash; JUL 22
                        %p I'm honored to be serving as AIGA Jacksonville's president as for the next 2 years. Getting to work alongside this great crew is the best part.
                    %img{:srcset => "../images/home-ex-1903-2-400.jpg 400w, ../images/home-ex-1903-2-600.jpg 600w, ../images/home-ex-1903-2-900.jpg 900w, ../images/home-ex-1903-2-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1903-2-600.jpg", :alt => "4 sheets of paper with sketches of various forms of apples."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2017 &mdash; JUL 22
                        %p I'm honored to be serving as AIGA Jacksonville's president as for the next 2 years. Getting to work alongside this great crew is the best part.
                    %img{:srcset => "../images/home-ex-1903-1-400.jpg 400w, ../images/home-ex-1903-1-600.jpg 600w, ../images/home-ex-1903-1-900.jpg 900w, ../images/home-ex-1903-1-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1903-1-600.jpg", :alt => "4 sheets of paper with sketches of various forms of apples."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2017 &mdash; JUL 22
                        %p I'm honored to be serving as AIGA Jacksonville's president as for the next 2 years. Getting to work alongside this great crew is the best part.
                    %img{:srcset => "../images/home-ex-1812-400.jpg 400w, ../images/home-ex-1812-600.jpg 600w, ../images/home-ex-1812-900.jpg 900w, ../images/home-ex-1812-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1812-600.jpg", :alt => "4 sheets of paper with sketches of various forms of apples."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2017 &mdash; JUL 22
                        %p I'm honored to be serving as AIGA Jacksonville's president as for the next 2 years. Getting to work alongside this great crew is the best part.
                    %img{:srcset => "../images/home-ex-1811-400.jpg 400w, ../images/home-ex-1811-600.jpg 600w, ../images/home-ex-1811-900.jpg 900w, ../images/home-ex-1811-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1811-600.jpg", :alt => "4 sheets of paper with sketches of various forms of apples."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2017 &mdash; JUL 22
                        %p I'm honored to be serving as AIGA Jacksonville's president as for the next 2 years. Getting to work alongside this great crew is the best part.
                    %img{:srcset => "../images/home-ex-1810-400.jpg 400w, ../images/home-ex-1810-600.jpg 600w, ../images/home-ex-1810-900.jpg 900w, ../images/home-ex-1810-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1810-600.jpg", :alt => "4 sheets of paper with sketches of various forms of apples."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2017 &mdash; JUL 22
                        %p I'm honored to be serving as AIGA Jacksonville's president as for the next 2 years. Getting to work alongside this great crew is the best part.
                    %img{:srcset => "../images/home-ex-1809-400.jpg 400w, ../images/home-ex-1809-600.jpg 600w, ../images/home-ex-1809-900.jpg 900w, ../images/home-ex-1809-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1809-600.jpg", :alt => "4 sheets of paper with sketches of various forms of apples."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2017 &mdash; JUL 22
                        %p I'm honored to be serving as AIGA Jacksonville's president as for the next 2 years. Getting to work alongside this great crew is the best part.
                    %img{:srcset => "../images/home-ex-1805-2-400.jpg 400w, ../images/home-ex-1805-2-600.jpg 600w, ../images/home-ex-1805-2-900.jpg 900w, ../images/home-ex-1805-2-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1805-2-600.jpg", :alt => "4 sheets of paper with sketches of various forms of apples."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2017 &mdash; JUL 22
                        %p I'm honored to be serving as AIGA Jacksonville's president as for the next 2 years. Getting to work alongside this great crew is the best part.
                    %img{:srcset => "../images/home-ex-1805-1-400.jpg 400w, ../images/home-ex-1805-1-600.jpg 600w, ../images/home-ex-1805-1-900.jpg 900w, ../images/home-ex-1805-1-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1805-1-600.jpg", :alt => "4 sheets of paper with sketches of various forms of apples."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2017 &mdash; JUL 22
                        %p I'm honored to be serving as AIGA Jacksonville's president as for the next 2 years. Getting to work alongside this great crew is the best part.
                    %img{:srcset => "../images/home-ex-1804-4-400.jpg 400w, ../images/home-ex-1804-4-600.jpg 600w, ../images/home-ex-1804-4-900.jpg 900w, ../images/home-ex-1804-4-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1804-4-600.jpg", :alt => "4 sheets of paper with sketches of various forms of apples."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2017 &mdash; JUL 22
                        %p I'm honored to be serving as AIGA Jacksonville's president as for the next 2 years. Getting to work alongside this great crew is the best part.
                    %img{:srcset => "../images/home-ex-1804-3-400.jpg 400w, ../images/home-ex-1804-3-600.jpg 600w, ../images/home-ex-1804-3-900.jpg 900w, ../images/home-ex-1804-3-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1804-3-600.jpg", :alt => "4 sheets of paper with sketches of various forms of apples."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2017 &mdash; JUL 22
                        %p I'm honored to be serving as AIGA Jacksonville's president as for the next 2 years. Getting to work alongside this great crew is the best part.
                    %img{:srcset => "../images/home-ex-1804-2-400.jpg 400w, ../images/home-ex-1804-2-600.jpg 600w, ../images/home-ex-1804-2-900.jpg 900w, ../images/home-ex-1804-2-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1804-2-600.jpg", :alt => "4 sheets of paper with sketches of various forms of apples."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2017 &mdash; JUL 22
                        %p I'm honored to be serving as AIGA Jacksonville's president as for the next 2 years. Getting to work alongside this great crew is the best part.
                    %img{:srcset => "../images/home-ex-1804-1-400.jpg 400w, ../images/home-ex-1804-1-600.jpg 600w, ../images/home-ex-1804-1-900.jpg 900w, ../images/home-ex-1804-1-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1804-1-600.jpg", :alt => "4 sheets of paper with sketches of various forms of apples."}
            .card-wrapper
                .card-experience
                    %figcaption
                        %time 2017 &mdash; JUL 22
                        %p I'm honored to be serving as AIGA Jacksonville's president as for the next 2 years. Getting to work alongside this great crew is the best part.
                    %img{:srcset => "../images/home-ex-1802-400.jpg 400w, ../images/home-ex-1802-600.jpg 600w, ../images/home-ex-1802-900.jpg 900w, ../images/home-ex-1802-1200.jpg 1200w", :sizes => "(max-width: 479px) 100vw, (max-width: 767) 50vw,(max-width: 959) 33vw, 25vw", :src => "../images/home-ex-1802-600.jpg", :alt => "4 sheets of paper with sketches of various forms of apples."}