---
title: Hey, Google.
---

%header
    %nav.home#top
    %section.intro
        %h1.s1
            Hey,
            %br
            Google.

%main.work
    %section.summary
        %p.large I’m Amber, a UX design leader who works ardently to solve unmet human needs. I’m ready to make the move to California to work for my favorite company. That’s you, Google. ;)

    %section
        %h2.s4 A little about me
        %p I’m a maker who loves solving problems through empathy, collaboration, and experiments. I love unearthing new insights and digging deep on a challenge, whether that’s creating a better team process, building a new service, or revamping an interaction. I’m an amalgamation: equal parts science and art. My psychology and medical background melded with my UX and brand experience gives me a unique perspective on people, their needs, and behaviors. I work hard, have an unflagging devotion to the user, and learn from my mistakes. 
        %p For the last 3 years, I’ve been leading the design team at Tuft & Needle. I’ve been responsible for both the visual and UX of all aspects of the brand with the exception of physical product design and architecture of retail stores. I love mentoring my team but I also love getting my hands in the work. 

    %section
        %h2.s4 Why Google?
        %p You’re a forward-thinking, people-first company who champions the user. You’ve solved incalculable needs and continue to do so. You demand the best from your teams, and push beyond what’s thought possible. Not only do you excel at digital interactions, but you extend your design philosophy elegantly to the physical, creating products that rival Rams and the greats. Ultimately, you need hard-working people who can bring a new perspective and continue crafting the future. I’d be honored to be one of those people.  

    %section
        %h2.s4 A few case studies
        %p I haven’t been doing much hands-on project work since leading a team of 10. My role has been mostly focused on setting strategy, guiding ideations, and helping my team do their best work. 
        %p The case studies below are projects where I was the lead designer. Admittedly, these aren’t the best representation of my skill set; I’ve learned so much more in the last several years. But hopefully these can give you a sense of my thought process and experience:
        %p INSERT CASE STUDIES HERE
        %p INSERT CASE STUDIES HERE
        %p INSERT CASE STUDIES HERE
        %p If you’d like to view my whole portfolio, you can jump in here.
        = link_to 'View portfolio', 'index.html', :class => "button-primary"

    %section
        %h2.s4 References
        %p 
            Here are a few things that past colleagues have said about working with me. I’m happy to connect you if you’d like to speak with any personally. 
            = link_to 'Just let me know', 'mailto:amber.aultman@gmail.com', :target => "_blank"
        %article.quote
            .quote-mark
            .quote-content
                %p “Amber is a fantastic and energetic product design leader with a passion for mentorship and strategy. I’ve seen her manage a team of designers & navigate stakeholders & corporate leadership in a very seamless way. As a mentor/leader, Amber’s pushed me to try things outside my comfort zone, which has always resulted in me expanding my skills and increasing my creative confidence. As a designer, Amber has top notch product skills. Her design outcomes are intentional and rooted in the needs of the user and business.
                %p Anyone who works with Amber will see she’s an incredible asset to have, and I would welcome the opportunity to work with her and be part of her successful team.”
                %p.attribution
                    %strong &mdash; Beatriz Vizcaino
                    %br
                    Product Designer at Facebook


