%section.type
    .s1 S1 - Hello, I'm Amber
    .s2 S2 - Hello, I'm Amber and this is a longer header like there can sometimes tend to be.
    .s4 S4 - Hello, I'm Amber and this is a longer header like there can sometimes tend to be.
    .s5 S5 - Hello, I'm Amber and this is a longer header like there can sometimes tend to be.
    .s6 S6 - Hello, I'm Amber
    %a.button-primary.no-button Primary Button
    %a.button-tertiary.no-button Tertiary Button
    .large Large - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor interdum feugiat. Suspendisse potenti. Donec a rhoncus turpis. Suspendisse finibus lorem turpis, vel ultrices justo pretium et.
    %p P - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor interdum feugiat. Suspendisse potenti. Donec a rhoncus turpis. Suspendisse finibus lorem turpis, vel ultrices justo pretium et.
    .small Small - In pharetra tristique metus. Aenean sed consectetur lorem, eget sagittis sapien. Suspendisse et elit eu dui gravida accumsan sagittis a ligula. Cras venenatis lectus tellus, vitae commodo nisi suscipit ac.